
<ol>	
	<li>De halve finales zijn volledig schriftelijk, de test duurt maximaal 3 uur. De deelnemers moeten enkel zorgen voor schrijfmateriaal. Kladpapier zal hen ter beschikking worden gesteld tijdens de test. Het gebruik van GSM-toestellen, rekenmachines, of enig ander elektronisch toestel tijdens de test wordt uitdrukkelijk verboden en impliceert een onmiddellijke uitsluiting.</li>
	
	<li>Om een gelijke behandeling van de deelnemers in de verschillende centra te garanderen kunnen de deelnemers geen begripsvragen aan de toezichthouders stellen. Elke fout in de test wordt beschouwd als onderdeel van de wedstrijd.</li>

	<li>De deelnemers mogen de zaal niet verlaten tijdens de test, zolang ze hun antwoordbladen nog niet hebben ingediend.</li>
	
	<li>De deelnemer moet ten minste 15 minuten vóór de start van de wedstrijd aankomen in het regionaal centrum dat bij inschrijving werd gekozen. Elke vertraging zal van de duur van zijn proeftijd afgetrokken worden.</li>
	
	<li>De taal die door de deelnemer werd gekozen bij inschrijving bepaalt de taal van het opgavenblad, ongeacht het gekozen centrum. De toezichthouders van het gekozen centrum zijn niet verplicht om een andere taal dan de officiële taal van dat centrum te spreken. De deelnemer zal de toezichthouders eraan herinneren wat de gewenste taal van zijn opgavenblad is.</li>
	
	<li>De deelnemers dienen hun naam, voornaam en school duidelijk te vermelden, op de eerste pagina van het antwoordformulier, in de daartoe voorziene hoofding. Voor alle andere pagina's dienen ze er vooral op te letten dat ze hun antwoorden duidelijk vermelden in de daarvoor voorziene vakken.</li>
	
	<li>De deelnemers kunnen hun vragen beantwoorden in het Nederlands, in het Frans of in het Engels, in pseudo-code of in een van de toegestane programmeertalen: Java, C, C++, Pascal, Python en PHP. Het is niet toegestaan functies te gebruiken afkomstig van niet-standaard bibliotheken voor de desbetreffende talen.</li>
	
	<li>Deelnemers kunnen de volgende soorten vragen verwachten:
		<ul>
			<li>Meerkeuzevragen: een kort algoritme kunnen lezen en begrijpen, om een ontbrekend deel in te vullen, om het verwachte resultaat te voorspellen, of om er een fout in te ontdekken&nbsp;;</li>
			<li>Opstellen van een algoritme om een probleem in een bepaalde context op te lossen&nbsp;;</li>
			<li>Een algoritme opstellen dat een bepaalde wiskundige uitdrukking correct berekent&nbsp;;</li>
			<!-- <li>Gegeven een aantal precies gedefinieerde primitieve basisfuncties, deze functies gebruiken en combineren om een bepaald probleem op te lossen&nbsp;;</li> --> 
			<li>Het opstellen van een algoritme om een probleem op te lossen dat de manipulatie van een "array" datastructuur vereist.</li>
		</ul>
	</li>
	
</ol>
