{% extends "fr/base.html" %}

{% block content%}
<h2>Finales 2011</h2>

<p>Ce sont 38 élèves du secondaire et 54 du supérieur qui ont participé à la finale des Olympiades belges d'Informatique qui a eu lieu le mercredi 30 mars 2011 à Louvain-la-Neuve. Félicitations à tous les participants et tout particulièrement à Benoît Legat et Thomas Van Gysegem, lauréats respectivement dans la catégorie <em>secondaire</em> et <em>supérieur</em>. Le classement complet des finalistes est repris sur cette page, pour chacun des concours. La finale consistait en une épreuve sur papier et une épreuve sur machine. Vous pouvez télécharger les questions des deux concours :</p>

<ul>
	<li>Catégorie secondaire : <a href="/static/downloads/OI-2011-final-sec-paper-fr.pdf">partie papier</a> et <a href="/static/downloads/OI-2011-final-sec-comp-fr.pdf">partie machine</a> ;</li>
	<li>Catégorie supérieur : <a href="/static/downloads/OI-2011-final-high-paper-fr.pdf">partie papier</a> et <a href="/static/downloads/OI-2011-final-high-comp-fr.pdf">partie machine</a>.</li>
</ul>

<p>Près de 4000&nbsp;&euro; de prix ont été distribués aux meilleurs finalistes des deux concours. Ces derniers étaient offerts par IBM, Dell, Redcorp, Eyrolles, Plantyn et IRIS. Parmi les prix, on retrouve notamment un Parrot AR Drone, un iPod Touch, un HP Mini Note, un Dell Latitude, un HTC Desire, un IRIS Scan et un IRIS Pen.</p>

<p>Enfin, 10 candidats, 5 francophones et 5 néerlandophones, du concours pour les secondaires ont été sélectionnés pour faire partie du pool d'entrainement ayant comme objectif la formation de la délégation belge aux les Olympiades Internationales d'Informatique qui sont dérouleront en Thaïlande cette année.</p>

<p>Vous trouverez ci-dessous les différents scores et classements officiels de la finale 2011 ainsi que quelques statistiques. Le <a href="{% url final-rules LANGUAGE_CODE %}">règlement de la finale</a> est également toujours disponible.</p>


<h3>Catégorie secondaire</h3>

<img class="withframe" src="/static/pictures/2011/group_sec.jpg" />

<table>
<tr><th>#</th><th>Nom</th><th>Etablissement</th><th><img title="Score partie papier" class="icons" src="/static/icons/pen.png" /></th><th><img title="Score partie machine" class="icons" src="/static/icons/keyboard.png" /></th><th><img title="Score total" class="icons" src="/static/icons/sum.png" /></th></tr>
<tr>
	
	
	<td>1</td>
	<td nowrap="nowrap">Legat Benoît</td>
	<td>Lycée Martin V, Louvain-la-Neuve &mdash; 6e</td>
	<td>86%</td>
	<td>100%</td>
	<td><strong>90%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>2</td>
	<td nowrap="nowrap">Lecomte Victor</td>
	<td>Lycée Martin V, Louvain-la-Neuve &mdash; 4e</td>
	<td>76%</td>
	<td>100%</td>
	<td><strong>84%</strong></td>
</tr>
	
	
	
	
	
	<td>3</td>
	<td nowrap="nowrap">Salerno Jérémy</td>
	<td>Athénée Royal de Jodoigne, Jodoigne &mdash; 6e</td>
	<td>73%</td>
	<td>100%</td>
	<td><strong>82%</strong></td>
</tr>
	
	
	
	<td>4</td>
	<td nowrap="nowrap">Derval Guillaume</td>
	<td>Institut Saint-Joseph, Châtelet &mdash; 6e</td>
	<td>67%</td>
	<td>100%</td>
	<td><strong>78%</strong></td>
</tr>
	
	
	
	
	
	<td>5</td>
	<td nowrap="nowrap">Floris Kint</td>
	<td>Onze-Lieve-Vrouwecollege, Oostende &mdash; 4e</td>
	<td>62%</td>
	<td>87%</td>
	<td><strong>70%</strong></td>
</tr>
	
	
	
	
	
	<td>6</td>
	<td nowrap="nowrap">Maskens Oswald</td>
	<td>Sint-Jan-Brechmanscollege, Brussel &mdash; 5e</td>
	<td>85%</td>
	<td>34%</td>
	<td><strong>68%</strong></td>
</tr>
	
	
	
	
	
	<td>7</td>
	<td nowrap="nowrap">Dewaele Laurens</td>
	<td>Heilig-Harthandelsinstituut, Waregem &mdash; 6e</td>
	<td>57%</td>
	<td>87%</td>
	<td><strong>67%</strong></td>
</tr>
	
	
	
	
	
	<td>8</td>
	<td nowrap="nowrap">Clarembeau Alexis</td>
	<td>Athénée Royal François Bovesse, Namur &mdash; 4e</td>
	<td>55%</td>
	<td>83%</td>
	<td><strong>64%</strong></td>
</tr>
	
	
	
	
	
	<td>9</td>
	<td nowrap="nowrap">Jungers Thomas</td>
	<td>Collège Notre-Dame du Bonlieu, Virton &mdash; 6e</td>
	<td>52%</td>
	<td>87%</td>
	<td><strong>63%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>10</td>
	<td nowrap="nowrap">Smetz Colin</td>
	<td>Institut Saint-Joseph, Ciney &mdash; 5e</td>
	<td>47%</td>
	<td>94%</td>
	<td><strong>62%</strong></td>
</tr>
	
	
	
	<td>11</td>
	<td nowrap="nowrap">Cognaux Nicolas</td>
	<td>Lycée Martin V, Louvain-la-Neuve &mdash; 6e</td>
	<td>42%</td>
	<td>100%</td>
	<td><strong>61%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>12</td>
	<td nowrap="nowrap">Meynaert Nathan</td>
	<td>Collège Saint Barthélemy, Liège &mdash; 4e</td>
	<td>66%</td>
	<td>50%</td>
	<td><strong>60%</strong></td>
</tr>
	
	
	
	
	
	<td>13</td>
	<td nowrap="nowrap">Marchant Nikita</td>
	<td>Athénée Royal Jean Absil, Etterbeek &mdash; 6e</td>
	<td>59%</td>
	<td>63%</td>
	<td><strong>60%</strong></td>
</tr>
	
	
	
	
	
	<td>14</td>
	<td nowrap="nowrap">Vasbinder Thomas</td>
	<td>Collège Saint-François-Xavier I, Verviers &mdash; 6e</td>
	<td>58%</td>
	<td>61%</td>
	<td><strong>59%</strong></td>
</tr>
	
	
	
	<td>15</td>
	<td nowrap="nowrap">Gégo Anthony</td>
	<td>Institut Notre-Dame Charleroi, Charleroi &mdash; 6e</td>
	<td>51%</td>
	<td>63%</td>
	<td><strong>55%</strong></td>
</tr>
	
	
	
	
	
	<td>16</td>
	<td nowrap="nowrap">Oostvogels Jonathan</td>
	<td>Vita et Pax college, Schoten &mdash; 4e</td>
	<td>49%</td>
	<td>58%</td>
	<td><strong>52%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>17</td>
	<td nowrap="nowrap">Mertens Tomas</td>
	<td>Sint-Franciscuscollege Campus Berkenbos, Heusden-zolder &mdash; 6e</td>
	<td>55%</td>
	<td>44%</td>
	<td><strong>51%</strong></td>
</tr>
	
	
	
	
	
	<td>18</td>
	<td nowrap="nowrap">Leemrijse Vincent</td>
	<td>Institut Saint Louis, Bruxelles &mdash; 7e</td>
	<td>49%</td>
	<td>41%</td>
	<td><strong>46%</strong></td>
</tr>
	
	
	
	
	
	<td>19</td>
	<td nowrap="nowrap">Claes Siebe</td>
	<td>IKSO Denderleeuw, Denderleeuw &mdash; 5e</td>
	<td>49%</td>
	<td>33%</td>
	<td><strong>43%</strong></td>
</tr>
	
	
	
	
	
	<td>20</td>
	<td nowrap="nowrap">Rehn Christoffer</td>
	<td>École Européenne Bruxelles II, Woluwé-Saint-Lambert &mdash; 6e</td>
	<td>43%</td>
	<td>39%</td>
	<td><strong>41%</strong></td>
</tr>
	
	
	
	
	
	<td>21</td>
	<td nowrap="nowrap">Janssen Mickel</td>
	<td>Provinciale Secundaire School Voeren, Voeren &mdash; 5e</td>
	<td>40%</td>
	<td>41%</td>
	<td><strong>40%</strong></td>
</tr>
	
	
	
	
	
	<td>22</td>
	<td nowrap="nowrap">Verfallie Jeroen</td>
	<td>Burgerschool, Roeselare &mdash; 6e</td>
	<td>29%</td>
	<td>57%</td>
	<td><strong>38%</strong></td>
</tr>
	
	
	
	
	
	<td>23</td>
	<td nowrap="nowrap">Deplasse Victor</td>
	<td>Collège du Christ-Roi, Ottignies &mdash; 5e</td>
	<td>29%</td>
	<td>54%</td>
	<td><strong>37%</strong></td>
</tr>
	
	
	
	
	
	<td>24</td>
	<td nowrap="nowrap">Vernier Benoît</td>
	<td>École Européenne de Bruxelles III, Bruxelles &mdash; 4e</td>
	<td>47%</td>
	<td>17%</td>
	<td><strong>37%</strong></td>
</tr>
	
	
	
	<td>25</td>
	<td nowrap="nowrap">Feuillen Gauthier</td>
	<td>Institut Notre Dame d&#39;Arlon, Arlon &mdash; 6e</td>
	<td>43%</td>
	<td>17%</td>
	<td><strong>34%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>26</td>
	<td nowrap="nowrap">Patz Michel</td>
	<td>Institut des Arts et Métiers de Pierrard, Virton &mdash; 6e</td>
	<td>35%</td>
	<td>31%</td>
	<td><strong>33%</strong></td>
</tr>
	
	
	
	<td>27</td>
	<td nowrap="nowrap">Cattoir Vincent</td>
	<td>Collège Saint-Pierre, Uccle &mdash; 6e</td>
	<td>34%</td>
	<td>33%</td>
	<td><strong>33%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>28</td>
	<td nowrap="nowrap">Lebon Geoffroy</td>
	<td>Bovenbouw Sint-Getrudis, Landen &mdash; 6e</td>
	<td>33%</td>
	<td>27%</td>
	<td><strong>31%</strong></td>
</tr>
	
	
	
	
	
	<td>29</td>
	<td nowrap="nowrap">Istasse Maxime</td>
	<td>Collège de Burnot, Profondeville &mdash; 5e</td>
	<td>23%</td>
	<td>41%</td>
	<td><strong>29%</strong></td>
</tr>
	
	
	
	
	
	<td>30</td>
	<td nowrap="nowrap">Ferrari Sacha</td>
	<td>Athénée Royal de Chênée (ARC), Chênée &mdash; 6e</td>
	<td>33%</td>
	<td>20%</td>
	<td><strong>28%</strong></td>
</tr>
	
	
	
	
	
	<td>31</td>
	<td nowrap="nowrap">Xhonneux Mathieu</td>
	<td>Collège Notre-Dame de Gemmenich, Gemmenich &mdash; 4e</td>
	<td>26%</td>
	<td>33%</td>
	<td><strong>28%</strong></td>
</tr>
	
	
	
	<td>32</td>
	<td nowrap="nowrap">Devillers Hugo</td>
	<td>Athénée Royal d&#39;Arlon, arlon &mdash; 4e</td>
	<td>32%</td>
	<td>20%</td>
	<td><strong>28%</strong></td>
</tr>
	
	
	
	
	
	<td>33</td>
	<td nowrap="nowrap">Mezhoud Sami</td>
	<td>Athénée Royal Jean Absil, Bruxelles &mdash; 6e</td>
	<td>33%</td>
	<td>17%</td>
	<td><strong>27%</strong></td>
</tr>
	
	
	
	
	
	<td>34</td>
	<td nowrap="nowrap">Eliat-Eliat Jacob</td>
	<td>Collège Saint-Etienne, Court-Saint-Etienne &mdash; 5e</td>
	<td>34%</td>
	<td>0%</td>
	<td><strong>22%</strong></td>
</tr>
	
	
	
	
	
	<td>35</td>
	<td nowrap="nowrap">Delva Simon</td>
	<td>KA Mariakerke, Mariakerke &mdash; 6e</td>
	<td>22%</td>
	<td>17%</td>
	<td><strong>20%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>36</td>
	<td nowrap="nowrap">Malengreau Syméon</td>
	<td>Collège Notre-Dame de Basse-Wavre, Wavre &mdash; 6e</td>
	<td>24%</td>
	<td>13%</td>
	<td><strong>20%</strong></td>
</tr>
	
	
	
	<td>37</td>
	<td nowrap="nowrap">Gillain Jérôme</td>
	<td>I.P.E.T. Nivelles, Nivelles &mdash; 5e</td>
	<td>0%</td>
	<td>19%</td>
	<td><strong>6%</strong></td>
</tr>
	
	
	
	
	
	<td>38</td>
	<td nowrap="nowrap">Cami Raf</td>
	<td>Koninklijk Atheneum Schoten, Schoten &mdash; 6e</td>
	<td>0%</td>
	<td>8%</td>
	<td><strong>2%</strong></td>
</tr>
	
</table>


<h3>Catégorie supérieur</h3>

<img class="withframe" src="/static/pictures/2011/group_high.jpg" />


<table>
<tr><th>#</th><th>Nom</th><th>Etablissement</th><th><img title="Score partie papier" class="icons" src="/static/icons/pen.png" /></th><th><img title="Score partie machine" class="icons" src="/static/icons/keyboard.png" /></th><th><img title="Score total" class="icons" src="/static/icons/sum.png" /></th></tr><tr>
	
	
	
	
	<td>1</td>
	<td nowrap="nowrap">Van Gysegem Thomas</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>82%</td>
	<td>57%</td>
	<td><strong>73%</strong></td>
</tr>
	
	
	
	<td>2</td>
	<td nowrap="nowrap">Lange Joseph</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>89%</td>
	<td>40%</td>
	<td><strong>72%</strong></td>
</tr>
	
	
	
	
	
	<td>3</td>
	<td nowrap="nowrap">Roelandt Nicolas</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>92%</td>
	<td>30%</td>
	<td><strong>71%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>4</td>
	<td nowrap="nowrap">Mertens Raf</td>
	<td>Katholieke Universiteit Leuven (KUL), Leuven</td>
	<td>80%</td>
	<td>47%</td>
	<td><strong>69%</strong></td>
</tr>
	
	
	
	
	
	<td>5</td>
	<td nowrap="nowrap">Marion Aurélien</td>
	<td>Université libre de Bruxelles (ULB), Bruxelles</td>
	<td>81%</td>
	<td>43%</td>
	<td><strong>68%</strong></td>
</tr>
	
	
	
	
	
	<td>6</td>
	<td nowrap="nowrap">Mlotkowski Dimitri</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>81%</td>
	<td>33%</td>
	<td><strong>65%</strong></td>
</tr>
	
	
	
	
	
	<td>7</td>
	<td nowrap="nowrap">Goovaerts Jeremy</td>
	<td>Haute Ecole Léonard de Vinci - Institut Paul Lambin (IPL), Bruxelles</td>
	<td>83%</td>
	<td>23%</td>
	<td><strong>63%</strong></td>
</tr>
	
	
	
	
	
	<td>8</td>
	<td nowrap="nowrap">Genon Denis</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>79%</td>
	<td>23%</td>
	<td><strong>60%</strong></td>
</tr>
	
	
	
	
	
	<td>9</td>
	<td nowrap="nowrap">Perez Hernandez Jean-Emmanuel</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>76%</td>
	<td>30%</td>
	<td><strong>60%</strong></td>
</tr>
	
	
	
	<td>10</td>
	<td nowrap="nowrap">Germeau Nathan</td>
	<td>Université libre de Bruxelles (ULB), Bruxelles</td>
	<td>66%</td>
	<td>47%</td>
	<td><strong>59%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>11</td>
	<td nowrap="nowrap">Teyar Sélim</td>
	<td>Haute École de Namur (HENAM) - IESN, Namur</td>
	<td>71%</td>
	<td>37%</td>
	<td><strong>59%</strong></td>
</tr>
	
	
	
	<td>12</td>
	<td nowrap="nowrap">De Coninck Quentin</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>79%</td>
	<td>17%</td>
	<td><strong>58%</strong></td>
</tr>
	
	
	
	
	
	<td>13</td>
	<td nowrap="nowrap">Leboutte Damien</td>
	<td>Haute Ecole Léonard de Vinci - Institut Paul Lambin (IPL), Bruxelles</td>
	<td>64%</td>
	<td>47%</td>
	<td><strong>58%</strong></td>
</tr>
	
	
	
	
	
	<td>14</td>
	<td nowrap="nowrap">Bundervoet Colin</td>
	<td>Hogeschool Gent (Hogent), Gent</td>
	<td>70%</td>
	<td>33%</td>
	<td><strong>57%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>15</td>
	<td nowrap="nowrap">Piront Thibault</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>67%</td>
	<td>37%</td>
	<td><strong>57%</strong></td>
</tr>
	
	
	
	
	
	<td>16</td>
	<td nowrap="nowrap">Vanden Eynde Robert</td>
	<td>Université libre de Bruxelles (ULB), Bruxelles</td>
	<td>66%</td>
	<td>37%</td>
	<td><strong>56%</strong></td>
</tr>
	
	
	
	<td>17</td>
	<td nowrap="nowrap">Fortemps de Loneux Loïc</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>66%</td>
	<td>30%</td>
	<td><strong>54%</strong></td>
</tr>
	
	
	
	
	
	<td>18</td>
	<td nowrap="nowrap">Devillez Gauvain</td>
	<td>Université de Mons (UMons), Mons</td>
	<td>70%</td>
	<td>17%</td>
	<td><strong>52%</strong></td>
</tr>
	
	
	
	
	
	<td>19</td>
	<td nowrap="nowrap">Cambier Léopold</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>60%</td>
	<td>37%</td>
	<td><strong>52%</strong></td>
</tr>
	
	
	
	
	
	<td>20</td>
	<td nowrap="nowrap">Ellis Benjamin</td>
	<td>Haute Ecole Léonard de Vinci - Institut Paul Lambin (IPL), Bruxelles</td>
	<td>54%</td>
	<td>47%</td>
	<td><strong>51%</strong></td>
</tr>
	
	
	
	
	
	<td>21</td>
	<td nowrap="nowrap">De l&#39;Eglise Jérémy</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>66%</td>
	<td>23%</td>
	<td><strong>51%</strong></td>
</tr>
	
	
	
	
	
	<td>22</td>
	<td nowrap="nowrap">Graulich Maxime</td>
	<td>Haute Ecole de la Ville de Liège (HEL) - ISET, Liège</td>
	<td>67%</td>
	<td>17%</td>
	<td><strong>50%</strong></td>
</tr>
	
	
	
	
	
	<td>23</td>
	<td nowrap="nowrap">De Buck Ronald Paul</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>64%</td>
	<td>20%</td>
	<td><strong>49%</strong></td>
</tr>
	
	
	
	
	
	<td>24</td>
	<td nowrap="nowrap">Verhaeghe Hélène</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>58%</td>
	<td>30%</td>
	<td><strong>48%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>25</td>
	<td nowrap="nowrap">Genin Jonathan</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>56%</td>
	<td>33%</td>
	<td><strong>48%</strong></td>
</tr>
	
	
	
	<td>26</td>
	<td nowrap="nowrap">Mattheus Benoît</td>
	<td>Université de Liège (ULg), Liège</td>
	<td>60%</td>
	<td>23%</td>
	<td><strong>47%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>27</td>
	<td nowrap="nowrap">Cools Bart</td>
	<td>Universiteit Antwerpen (UA), Antwerpen</td>
	<td>63%</td>
	<td>17%</td>
	<td><strong>47%</strong></td>
</tr>
	
	
	
	<td>28</td>
	<td nowrap="nowrap">Bongartz Michaël</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>62%</td>
	<td>17%</td>
	<td><strong>47%</strong></td>
</tr>
	
	
	
	
	
	<td>29</td>
	<td nowrap="nowrap">de Borchgrave Florence</td>
	<td>Vrije Universiteit Brussel (VUB), Elsene</td>
	<td>62%</td>
	<td>17%</td>
	<td><strong>47%</strong></td>
</tr>
	
	
	
	
	
	<td>30</td>
	<td nowrap="nowrap">Eloudrhiri Samir</td>
	<td>Haute Ecole de la Ville de Liège (HEL) - ISET, Liège</td>
	<td>58%</td>
	<td>23%</td>
	<td><strong>46%</strong></td>
</tr>
	
	
	
	
	
	<td>31</td>
	<td nowrap="nowrap">Daniel Maxime</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>59%</td>
	<td>20%</td>
	<td><strong>46%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>32</td>
	<td nowrap="nowrap">Lacroix Simon</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>59%</td>
	<td>20%</td>
	<td><strong>46%</strong></td>
</tr>
	
	
	
	
	
	<td>33</td>
	<td nowrap="nowrap">Velghe Victor</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>58%</td>
	<td>20%</td>
	<td><strong>45%</strong></td>
</tr>
	
	
	
	
	
	<td>34</td>
	<td nowrap="nowrap">Scheuer Adrien</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>63%</td>
	<td>10%</td>
	<td><strong>45%</strong></td>
</tr>
	
	
	
	
	
	<td>35</td>
	<td nowrap="nowrap">Lhoas Audric</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>59%</td>
	<td>17%</td>
	<td><strong>45%</strong></td>
</tr>
	
	
	
	<td>36</td>
	<td nowrap="nowrap">Keil Laurent</td>
	<td>Facultés Universitaires Notre-Dame de la Paix (FUNDP), Namur</td>
	<td>64%</td>
	<td>3%</td>
	<td><strong>43%</strong></td>
</tr>
	
	
	
	
	
	
	
	<td>37</td>
	<td nowrap="nowrap">Lebrun Alexandre</td>
	<td>Université de Mons (UMons), Mons</td>
	<td>54%</td>
	<td>23%</td>
	<td><strong>43%</strong></td>
</tr>
	
	
	
	
	
	<td>38</td>
	<td nowrap="nowrap">Tirtiaux Bruno</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>47%</td>
	<td>37%</td>
	<td><strong>43%</strong></td>
</tr>
	
	
	
	<td>39</td>
	<td nowrap="nowrap">Chatelain Julie</td>
	<td>Haute Ecole Libre Mosane (HELMo) Saint-Laurent, Liège</td>
	<td>51%</td>
	<td>23%</td>
	<td><strong>41%</strong></td>
</tr>
	
	
	
	<td>40</td>
	<td nowrap="nowrap">Corneille Niels</td>
	<td>Hogeschool Gent (Hogent), Gent</td>
	<td>57%</td>
	<td>7%</td>
	<td><strong>40%</strong></td>
</tr>
	
	
	
	<td>41</td>
	<td nowrap="nowrap">Cordier Auguy</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>49%</td>
	<td>20%</td>
	<td><strong>39%</strong></td>
</tr>
	
	
	
	<td>42</td>
	<td nowrap="nowrap">George Quentin</td>
	<td>Université catholique de Louvain (UCL), Louvain-la-Neuve</td>
	<td>52%</td>
	<td>13%</td>
	<td><strong>39%</strong></td>
</tr>
	
	
	
	<td>43</td>
	<td nowrap="nowrap">Couvreur Geoffrey</td>
	<td>Université de Liège (ULg), Liège</td>
	<td>25%</td>
	<td>67%</td>
	<td><strong>39%</strong></td>
</tr>
	
	
	
	<td>44</td>
	<td nowrap="nowrap">Lemaire Dorian</td>
	<td>Haute Ecole Libre Mosane (HELMo) Saint-Laurent, Liège</td>
	<td>52%</td>
	<td>7%</td>
	<td><strong>37%</strong></td>
</tr>
	
	
	
	<td>45</td>
	<td nowrap="nowrap">Wandji Franck</td>
	<td>Université de Liège (ULg), Liège</td>
	<td>38%</td>
	<td>33%</td>
	<td><strong>36%</strong></td>
</tr>
	
	
	
	<td>46</td>
	<td nowrap="nowrap">Dijkmans Seppe</td>
	<td>Universiteit Hasselt, Diepenbeek</td>
	<td>44%</td>
	<td>17%</td>
	<td><strong>35%</strong></td>
</tr>
	
	
	
	<td>47</td>
	<td nowrap="nowrap">Stilmant Christophe</td>
	<td>Université de Liège (ULg), Liège</td>
	<td>42%</td>
	<td>13%</td>
	<td><strong>32%</strong></td>
</tr>
	
	
	
	<td>48</td>
	<td nowrap="nowrap">Malengreau Julien</td>
	<td>Université de Mons (UMons), Mons</td>
	<td>46%</td>
	<td>0%</td>
	<td><strong>30%</strong></td>
</tr>
	
	
	
	<td>49</td>
	<td nowrap="nowrap">Schröder Lionel</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>43%</td>
	<td>3%</td>
	<td><strong>29%</strong></td>
</tr>
	
	
	
	<td>50</td>
	<td nowrap="nowrap">Karras Simon</td>
	<td>Haute Ecole Libre Mosane (HELMo) Saint-Laurent, Liège</td>
	<td>38%</td>
	<td>13%</td>
	<td><strong>29%</strong></td>
</tr>
	
	
	
	<td>51</td>
	<td nowrap="nowrap">Decruyenaere Nicolas</td>
	<td>Université de Mons (UMons), Mons</td>
	<td>39%</td>
	<td>7%</td>
	<td><strong>28%</strong></td>
</tr>
	
	
	
	<td>52</td>
	<td nowrap="nowrap">Leduc Dany</td>
	<td>Haute Ecole de la Province de Liège (HEPL) - INPRES, Seraing</td>
	<td>42%</td>
	<td>0%</td>
	<td><strong>28%</strong></td>
</tr>
	
	
	
	<td>53</td>
	<td nowrap="nowrap">Morre Anthony</td>
	<td>Facultés Universitaires Notre-Dame de la Paix (FUNDP), Namur</td>
	<td>28%</td>
	<td>0%</td>
	<td><strong>18%</strong></td>
</tr>
	
	
	
	<td>54</td>
	<td nowrap="nowrap">Tsague Kenfack Koko Aldo</td>
	<td>Haute Ecole de la Ville de Liège (HEL) - ISET, Liège</td>
	<td>27%</td>
	<td>0%</td>
	<td><strong>18%</strong></td>
</tr>
	
	
</table>

<h3>Statistiques</h3>

<img src="http://chart.apis.google.com/chart?chf=c,ls,86.667,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|50%25|100%25|||0%25&chxp=0,50,100,75,25,0&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=7,1,0&chs=337x207&cht=bvs&chco=3399CC,FF9900&chd=t:57,50,48,44,41,56,38,36,34,31,28,44,39,38,34,32,36,32,32,28,26,19,19,31,28,23,22,22,15,22,17,21,22,22,15,16,0,0|33,33,33,33,29,11,29,27,29,31,33,16,21,20,21,19,14,13,11,13,13,19,18,5,5,10,11,9,13,6,11,6,5,0,5,4,6,2&chdl=Partie+papier|Partie+machine&chdlp=b&chg=-1,-1,0,0&chma=0,0,0,6&chtt=Scores+dans+la+cat%C3%A9gorie+%22secondaire%22+(par+ordre+d%C3%A9croissant)&chts=676767,10.834" width="337" height="207" alt="Scores dans la catégorie "secondaire" (par ordre décroissant)" />

<img src="http://chart.apis.google.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=0:|50%25|75%25|25%25|0%25&chxp=0,50,75,25,0&chxr=0,0,75&chxs=0,676767,9,0.167,lt,676767&chxtc=0,5&chxt=y&chbh=4,1,0&chs=337x207&cht=bvs&chco=3399CC,FF9900&chds=0,75,0,75&chd=t:54,59,61,53,54,54,55,52,50,44,47,52,42,46,44,44,44,46,40,36,44,44,42,38,37,40,42,41,41,38,39,39,38,42,39,42,36,31,34,38,32,34,16,34,25,29,28,30,28,25,26,28,18,18|19,13,10,15,14,11,7,7,10,15,12,5,15,11,12,12,10,5,12,15,7,5,6,10,11,7,5,5,5,7,6,6,6,3,5,1,7,12,7,2,6,4,22,2,11,5,4,0,1,4,2,0,0,0&chdl=Partie+papier|Partie+machine&chdlp=b&chg=-1,-1,0,0&chma=4,0,0,6|2,11&chtt=Scores+dans+la+cat%C3%A9gorie+%22sup%C3%A9rieur%22+(par+ordre+d%C3%A9croissant)&chts=676767,9.833" width="337" height="207" alt="Scores dans la catégorie "supérieur" (par ordre décroissant)" />

<img src="http://chart.apis.google.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q7|Q1|Q2&chxr=1,-1.667,100&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=25,1,2&chs=337x166&cht=bvs&chco=3399CC,FF9900&chd=t:77.77,63.88,100,50,36.8,12.03,28.33|0,0,0,0,0,0,0,61.05,44.05&chdl=Papier|Machine&chtt=Moyenne+(%25)+obtenue+%C3%A0+chaque+question+(secondaire)&chts=676767,10" width="337" height="166" alt="Moyenne (%) obtenue à chaque question (secondaire)" />
<img src="http://chart.apis.google.com/chart?chf=c,ls,90,FFFFFF,0.1,FBFBFB,0.1&chxl=1:|Q1|Q2|Q3|Q4|Q5|Q6|Q1|Q2&chxr=1,-1.667,100&chxs=0,676767,11.5,-0.333,lt,676767|1,676767,11.5,0,lt,676767&chxtc=0,5|1,0&chxt=y,x&chbh=25,1,2&chs=337x166&cht=bvs&chco=3399CC,FF9900&chd=t:38,92,85,47,78,22|0,0,0,0,0,0,49,8&chdl=Papier|Machine&chtt=Moyenne+(%25)+obtenue+%C3%A0+chaque+question+(sup%C3%A9rieur)&chts=676767,10" width="337" height="166" alt="Moyenne (%) obtenue à chaque question (supérieur)" />

{% endblock %}
