{% extends "fr/base.html" %}

{% block content%}
<h2>be-OI 2011</h2>

<p>La seconde édition des Olympiades belges d'Informatique s'est déroulée en 2011 et a eu lieu sur toute la Belgique. L'extension a la flandre a été coordonnée par Joachim Ganseman (UA) de l'<a href="http://acmantwerp.acm.org/">ACM Antwerp Student Chapter</a>.</p>

<p>Quelques 250 participants étaient inscrits pour la demi-finale qui s'est déroulée le mercredi 16 février 2011 de 14h à 17h. Parmi ceux-ci, 49 élèves du secondaire et 60 du supérieur ont été sélectionnés pour la finale. Ces derniers sont repris sur <a href="{% url archives-2011-semifinal LANGUAGE_CODE %}">la page détaillée des demi-finales</a>.</p>

<p>92 finalistes ont concourus à Louvain-la-Neuve le mercredi 30 mars 2011. L'épreuve a duré trois heures durant lesquelles les finalistes ont été confrontés à une partie papier et une partie sur machine. Le classement complet est disponible sur <a href="{% url archives-2011-final LANGUAGE_CODE %}">la page détaillée des finales</a>.</p>

<img class="withframe" src="/static/pictures/2011/group_sec.jpg" alt="Finalistes des Olympiades belges d'Informatique 2011 - Secondaire" title="Finalistes des Olympiades belges d'Informatique 2011 - Secondaire" /> <img class="withframe" src="/static/pictures/2011/group_high.jpg" alt="Finalistes des Olympiades belges d'Informatique 2011 - Supérieur" title="Finalistes des Olympiades belges d'Informatique 2011 - Supérieur" />

<p>Les lauréats du concours pour le secondaire sont :</p>

<ol>
	<li>Benoît Legat, Lycée Martin V (Louvain-la-Neuve) ;</li>
	<li>Victor Lecomte, Lycée Martin V (Louvain-la-Neuve) ;</li>
	<li>Jérémy Salerno, Athénée Royal de Jodoigne (Jodoigne) ;</li>
	<li>Guillaume Derval, Institut Saint-Joseph (Châtelet).</li>
</ol>

<p>Les lauréats du concours pour le supérieur sont :</p>

<ol>
	<li>Thomas Van Gysegem, Haute Ecole de la Province de Liège (HEPL) - INPRES ;</li>
	<li>Joseph Lange, Université catholique de Louvain (UCL) ;</li>
	<li>Nicolas Roelandt, Université catholique de Louvain (UCL) ;</li>
	<li>Raf Mertens, Katholieke Universiteit Leuven (KUL).</li>
</ol>

<p>Les candidats sélectionnés pour le pool d'entrainement sont, dans l'ordre alphabétique :</p>

<ul>
	<li>Pool-FR : Alexis Clarembeau, Guillaume Derval, Victor Lecomte, Benoît Legat et Jérémy Salerno.</li>
	<li>Pool-NL : Laurens Dewaele, Floris Kint, Oswald Maskens, Tomas Mertens et Jonathan Oostvogels.</li>
</ul>

<p>Les quatre sélectionnés pour faire partie de <a href="{% url archives-2011-ioi LANGUAGE_CODE %}">la délégation belge aux Olympiades Internationales d'Informatique</a> qui se sont déroulées à Pattaya en Thaïlande sont, en ordre alphabétique :
	</p>
	
	<ul>
		<li>Laurens Dewaele</li>
		<li>Floris Kint</li>
		<li>Victor Lecomte</li>
		<li>Benoit Legat</li>
		</ul>
	
<p>Ceux-ci étaient encadrés par Damien Leroy, Joachim Janseman et Sébastien Combéfis de l'équipe be-OI. Tous les frais étaient supportés par l'UCLouvain ACM Student Chapter et le ministère flamand de l'enseignement.</p>

<h3>Sponsors</h3>

<p>Ces Olympiades ont pu être organisées grâce au soutien reçus par divers organismes.</p>

<p><b>Sponsor Premium :</b> <a href="http://www.ibm.com/be/fr/"><img style="vertical-align: middle;" src="/static/logos/ibm_logo-200.jpg" alt="IBM" title="IBM" /></a></p>

<p><b>Prix offerts par :</b> <a href="http://www.editions-eyrolles.com/Theme/020000/informatique" target="_blank"><img src="/static/logos/eyrolles-logo-small.jpg" /></a>
<a href="http://www.plantyn.com/wps/portal/{{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/plantyn-logo-small.jpg" /></a>
<a href="http://www1.euro.dell.com/content/default.aspx?c=be&l={{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/dell-2011-logo-small.jpg" /></a>
<a href="http://www.redcorp.com/" target="_blank"><img src="/static/logos/redcorp-logo-small.jpg" /></a>
<a href="http://www.irislink.com/" target="_blank"><img src="/static/logos/iris-2011-logo-small.jpg" /></a></p>

<p><b>Avec le soutien de :</b> <a href="http://www.ond.vlaanderen.be/" alt="Vlaamse Overheid" title="Vlaamse Overheid" /><img style="vertical-align: middle;" src="/static/logos/vlaams-overheid-logo-small.png" /></a></p>

<h3>Photos</h3>


{% endblock %}
