{% extends "fr/base.html" %}

{% block content%}
<h2>Délégation belge aux IOI 2011</h2>

	

<p><img src="/static/pictures/2011/ioi2011-delegation.jpg" width="300" height="274" class="withframe float-right" alt="La délégation belge aux Olympiades Internationales d'Informatique" title="La délégation belge aux Olympiades Internationales d'Informatique" />Du 22 au 29 juillet 2011 avait lieu la 23ème Olympiade Internationale d'Informatique (IOI 2011). Il s'agissait de la seconde participation de la Belgique, après une unique participation en 1992. Cette année, le pays complet était représenté par deux francophones et deux néerlandophones, encadrés par Damien Leroy, Joachim Janseman et Sébastien Combéfis de l'équipe be-OI. La compétition s'est déroulée à Pattaya City, en Thaïlande.</p>

<p class="center"><img src="/static/logos/ioi2011.jpg" /></p>

<p>Suite à l'expérience acquise l'année dernière, la délégation belge revient, cette année, avec sa première médaille obtenue grâce à Benoit Legat. La délégation revient également avec de nombreux souvenirs et des liens créés avec les membres des délégations des 78 autres pays représentés à cet IOI 2011.</p>

<p>Voici les résultats obtenus par la délégation belge (sur un total de 600 points) pour un total de 308 participants :</p>

<ul>
	<li>98ème - Benoît Legat (348 points) [médaille de bronze]</li>
	<li>156ème - Floris Kint (265 points)</li>
	<li>233ème - Victor Lecomte (148 points)</li>
	<li>259ème - Laurens Dewaele (69 points)</li>
</ul>

<p><img class="withframe" src="/static/pictures/2011/benoit-legat-medal.jpg" width="400" height="265" alt="Benoit Legat's bronze medal" title="Benoit Legat's bronze medal" /></p>

<p>Cette première médaille pour la Belgique, après sa seconde participation, est un excellent résultat. De nombreux pays nous ont félicité pour ce brillant résultat qui sera, on l'espère, le premier d'une longue série de succès. Vous trouverez plus de détails sur ces scores et les épreuves rencontrées sur <a href="http://www.ioi2011.or.th/">le site web des IOI 2011</a>.</p>

<h4>Met de steun van de Vlaamse overheid</h4>

<p class="center"><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>


{% endblock %}
