{% extends "nl/base.html" %}

{% block content%}
<h2>be-OI 2011</h2>

<p>De tweede editie van de Belgische Olympiades in de Informatica vond plaats in 2011 en werd dit keer in heel het land georganiseerd. De uitbreiding naar Vlaanderen werd gecoördineerd door Joachim Ganseman (Universiteit Antwerpen) van het <a href="http://acmantwerp.acm.org/">ACM Antwerp Student Chapter</a>.</p>

<p>Ongeveer 250 deelnemers waren ingeschreven voor de halve finales die plaatsvonden op woensdag 16 februari 2011 van 14u tot 17u. De beste 49 leerlingen uit het middelbaar onderwijs en 60 uit het hoger onderwijs werden geselecteerd voor de finales. Deze laatsten staan op de <a href="{% url archives-2011-semifinal LANGUAGE_CODE %}">gedetailleerde pagina over de halve finales</a>.</p>

<p>92 finalisten daagden op voor de finales op woensdag 30 maart 2011. De proef duurde 3 uur en omvatte een gedeelte op papier en een gedeelte aan de computer. Het volledig eindklassement is beschikbaar op de <a href="{% url archives-2011-final LANGUAGE_CODE %}">gedetailleerde pagina over de finales</a>.</p>

<img class="withframe" src="/static/pictures/2011/group_sec.jpg" alt="Finalisten van de Belgische Olympiades in de Informatica 2011 - Secundair" title="Finalisten van de Belgische Olympiades in de Informatica 2011 - Secundair" /> <img class="withframe" src="/static/pictures/2011/group_high.jpg" alt="Finalisten van de Belgische Olympiades in de Informatica 2011 - Hoger onderwijs" title="Finalisten van de Belgische Olympiades in de Informatica 2011 - Hoger onderwijs" />

<p>De 4 eerste laureaten van de wedstrijd voor het secundair onderwijs waren :</p>

<ol>
	<li>Benoît Legat, Lycée Martin V (Louvain-la-Neuve) ;</li>
	<li>Victor Lecomte, Lycée Martin V (Louvain-la-Neuve) ;</li>
	<li>Jérémy Salerno, Athénée Royal de Jodoigne (Jodoigne) ;</li>
	<li>Guillaume Derval, Institut Saint-Joseph (Châtelet).</li>
</ol>

<p>De 4 eerste laureaten van de wedstrijd voor het hoger onderwijs waren :</p>

<ol>
	<li>Thomas Van Gysegem, Haute Ecole de la Province de Liège (HEPL) - INPRES ;</li>
	<li>Joseph Lange, Université catholique de Louvain (UCL) ;</li>
	<li>Nicolas Roelandt, Université catholique de Louvain (UCL) ;</li>
	<li>Raf Mertens, Katholieke Universiteit Leuven (KUL).</li>
</ol>

<p>De geselecteerde kandidaten voor de trainingspool ter voorbereiding van de IOI waren, in alfabetische volgorde :</p>

<ul>
	<li>Pool-FR : Alexis Clarembeau, Guillaume Derval, Victor Lecomte, Benoît Legat en Jérémy Salerno.</li>
	<li>Pool-NL : Laurens Dewaele, Floris Kint, Oswald Maskens, Tomas Mertens en Jonathan Oostvogels.</li>
</ul>

<p>De vier geselecteerde deelnemers voor de <a href="{% url archives-2011-ioi LANGUAGE_CODE %}">Belgische Delegatie op de Internationale Olympiade in Informatica 2011</a> die plaatsvond in Pattaya (Thailand), waren in alfabetische volgorde :
	</p>
	
	<ul>
		<li>Laurens Dewaele</li>
		<li>Floris Kint</li>
		<li>Victor Lecomte</li>
		<li>Benoit Legat</li>
		</ul>
	
<p>Zij werden begeleid door Damien Leroy, Joachim Janseman en Sébastien Combéfis van de be-OI organisatie. De kosten voor deelname werden gedekt door het Vlaams ministerie van onderwijs en het UCLouvain ACM Student Chapter.</p>

<h3>Sponsors</h3>

<p>De organisatie van deze Olympiades was mogelijk dankzij de steun van verschillende bedrijven en organisaties. </p>

<p><b>Premium Sponsor :</b> <a href="http://www.ibm.com/be/nl/"><img style="vertical-align: middle;" src="/static/logos/ibm_logo-200.jpg" alt="IBM" title="IBM" /></a></p>

<p><b>Prijzen aangeboden door :</b> <a href="http://www.editions-eyrolles.com/Theme/020000/informatique" target="_blank"><img src="/static/logos/eyrolles-logo-small.jpg" /></a>
<a href="http://www.plantyn.com/wps/portal/{{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/plantyn-logo-small.jpg" /></a>
<a href="http://www1.euro.dell.com/content/default.aspx?c=be&l={{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/dell-2011-logo-small.jpg" /></a>
<a href="http://www.redcorp.com/" target="_blank"><img src="/static/logos/redcorp-logo-small.jpg" /></a>
<a href="http://www.irislink.com/" target="_blank"><img src="/static/logos/iris-2011-logo-small.jpg" /></a></p>

<p><b>Met de steun van :</b> <a href="http://www.ond.vlaanderen.be/" alt="Vlaamse Overheid" title="Vlaamse Overheid" /><img style="vertical-align: middle;" src="/static/logos/vlaams-overheid-logo-small.png" /></a></p>

<h3>Foto's</h3>


{% endblock %}
