{% extends "nl/base.html" %}

{% block content%}
<h2>Belgische delegatie op de IOI 2011</h2>

	

<p><img src="/static/pictures/2011/ioi2011-delegation.jpg" width="300" height="274" class="withframe float-right" alt="La délégation belge aux Olympiades Internationales d'Informatique" title="La délégation belge aux Olympiades Internationales d'Informatique" />Van 22 tot 29 juli 2011 vond de 23e Internationale Olympiade in Informatica plaats (IOI 2011). België nam voor de tweede keer op rij deel, naast een enkele afzonderlijke deelname in 1992. Dit jaar werd het hele land vertegenwoordigd en konden we 2 Nederlands- en 2 Franstalige deelnemers sturen. Zij werden omkaderd door Damien Leroy, Joachim Ganseman en Sébastien Combéfis van de be-OI-organisatie. De wedstrijd vond plaats in Pattaya City in Thailand. </p>

<p class="center"><img src="/static/logos/ioi2011.jpg" /></p>

<p>Met de ervaringen uit 2010 in het achterhoofd kon de Belgische delegatie dit jaar terugkomen met een eerste medaille dankzij Benoît Legat. De delegatie kwam eveneens naar huis met vele mooie herinneringen en contacten met deelnemers uit de andere 78 landen die vertegenwoordigd waren op deze IOI 2011. </p>

<p>Dit zijn de resultaten behaald door de Belgische delegatie, op een totaal van 600 punten en 308 deelnemers :</p>

<ul>
	<li>98e plaats - Benoît Legat (348 punten) [bronzen medaille]</li>
	<li>156e plaats - Floris Kint (265 punten)</li>
	<li>233e plaats - Victor Lecomte (148 punten)</li>
	<li>259e plaats - Laurens Dewaele (69 punten)</li>
</ul>

<p><img class="withframe" src="/static/pictures/2011/benoit-legat-medal.jpg" width="400" height="265" alt="Benoit Legat's bronze medal" title="Benoit Legat's bronze medal" /></p>

<p>Deze eerste medaille voor België, reeds in het tweede jaar van deelname, is een uitstekend resultaat. Verschillende landen hebben ons gefeliciteerd met dit resultaat, dat hopelijk het begin is van een lange reeks toekomstige successen. Meer details vinden over de scores en de opdrachten die de deelnemers moesten vervullen staan op de <a href="http://www.ioi2011.or.th/">website van de IOI 2011</a>.</p>

<h4>Met de steun van de Vlaamse overheid</h4>

<p class="center"><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>


{% endblock %}
