{% extends "nl/base.html" %}

{% block content%}
<h2>Archieven</h2>


<p><img class="withframe float-right" src="/static/pictures/2011/benoit-legat-archive.jpg" width="298" height="212" alt="Benoit Legat's bronze medal" title="Benoit Legat's bronze medal" />Hier zijn de archieven van vorige edities van de Belgische Olympiades in de Informatica te raadplegen. De eindklassementen en enkele statistieken over de halve finales en finales van de nationale wedstrijd zijn erin opgenomen, net zoals een verslag over de Belgische deelname aan de Internationale Olympiade van dat jaar.</p>

<p>Sinds 2010 is de Belgische Olympiade in de Informatica (be-OI) een nationale wedstrijd in programmeren, algoritmiek en logica. Ze is met name bestemd voor leerlingen van het secundair onderwijs, en laat ons toe scholieren te selecteren om deel uit te maken van de Belgische delegatie op de Internationale Olympiade in de Informatica.</p>

<ul>
	<li><a href="{% url archive-2011-fr %}">2011</a></li>
	<li><a href="{% url archive-2010-fr %}">2010</a></li>
</ul>

{% endblock %}
