{% extends "nl/base.html" %}

{% block content%}
<h2>***Nieuw*** : Beverwedstrijd</h2>

<p>Misschien heb je talent voor informatica maar weet je het niet? Je kan met de hele klas meedoen aan de Beverwedstrijd om erachter te komen!</p>

<h4>Wat, waar?</h4>
<p>De Beverwedstrijd is een internationale wedstrijd waarbij je puzzels en logische vraagstukken oplost. De wedstrijd is <em>klassikaal</em> en wordt tijdens of na de lesuren onder begeleiding van de leerkracht informatica opgelost.</p>

<p>In heel Europa doen jaarlijks ruim 150000 scholieren aan deze wedstrijd mee. Ze vraagt <em>geen voorkennis informatica</em>. Ze past netjes binnen 1 lesuur. Ze staat volledig los van de Informatica Olympiade.</p>

<p>Voor meer informatie, registratie en deelname, deel je de link <a href="https://fisheye.ugent.be/torcas/" target="_blank"> https://fisheye.ugent.be/torcas/ </a> met jouw leerkracht informatica.</p>

<h4>Wanneer?</h4>
<p>
In 2012 bieden we deze wedstrijd voor het eerst aan in een <em>testfase</em> in België. Hiervoor werd speciaal een nieuwe webapplicatie ontwikkeld aan de Universiteit Gent, genaamd "Torcas". Via deze webapplicatie kunnen klassen geregistreerd worden, en kan de wedstrijd afgelegd worden. Een internetverbinding is dus noodzakelijk. </p>

<p>We hopen in januari 2012 van start te kunnen gaan, zodat de Beverwedstrijd een mooie aanloop vormt naar de Belgische Informatica Olympiade.</p>

<h4>Resultaten</h4>
<p>Omdat we de Beverwedstrijd dit jaar in testfase organiseren, volgen we ook niet de kalender van de internationale Beverweek. De resultaten van de Belgische Beverwedstrijd 2012 zullen dus niet vergelijkbaar zijn met de resultaten uit het buitenland. We overwegen om een Belgische ranking op te stellen, maar dit zal afhangen van het verloop van de wedstrijd.</p>

<h4>Hoe meedoen?</h4>
<p>Jouw leerkracht informatica moet je klas eerst registreren via de online webapplicatie, die beschikbaar is op <a href="https://fisheye.ugent.be/torcas/" target="_blank"> https://fisheye.ugent.be/torcas/ </a>. Hij/zij krijgt voor alle deelnemers een unieke login en paswoord. Als je klas klaar is om aan de wedstrijd te beginnen, worden deze uitgedeeld en kan je inloggen.</p>

<p>De test kan uiteraard maar 1 keer afgelegd worden. Het is de bedoeling dat de hele klas dit tegelijkertijd in een computerklas doet. Na afloop van de test krijg je onmiddellijk feedback over je resultaten. </p>

{% endblock %}
