{% extends "nl/base.html" %}

{% block content%}
<h2>Agenda</h2>

<p>Deze officiële agenda bevat de belangrijkste data van de Belgische Olympiades in Informatica 2011.</p>

<dl>
	<dt>10 februari 2011</dt>
	<dd><p>Uiterste datum om u <a href="{% url registration-nl %}">in te schrijven</a>.</p></dd>

	<dt>16 februari 2011</dt>
	<dd><p><a href="{% url semifinal-nl %}">Halve finales</a> in <a href="{% url regional-centers-nl %}">regionale centra</a>.</p></dd>

	<dt>7-11 maart 2011</dt>
	<dd><p>Opleiding Algoritmiek (facultatief) voor leerlingen uit het middelbaar (krokusvakantie).</p></dd>

	<dt>30 maart 2011</dt>
	<dd><p><a href="{% url final-nl %}">Finales</a> (plaats te bepalen).</p></dd>

	<dt>2 april 2011</dt>
	<dd><p>Bekendmaking en prijsuitreiking (plaats te bepalen).</p></dd>

	<dt>11-24 april 2011</dt>
	<dd><p>Uitgebreide opleiding Algorithmiek voor leerlingen uit het middelbaar geselecteerd voor de IOI pool (data te bepalen).</p></dd>

	<dt>22-29 juli 2011</dt>
	<dd><p>23<sup>iemes</sup> Internationales Olympiades in Informatica (IOI) in Pattaya in Thailand (<a href="http://www.ioi2011.or.th/">http://www.ioi2011.or.th/</a>).</p></dd>
</dl>

{% endblock %}
