{% extends "nl/base.html" %}

{% block content%}
<h2>Agenda</h2>

<p>Deze officiële agenda bevat de belangrijkste data van de Belgische Olympiades in de Informatica 2011.</p>

<dl>
	<dt><strike>10 februari 2011</strike> 13 februari 2011</dt>
	<dd><p>Deadline voor de inschrijvingen.</p></dd>

	<dt>16 februari 2011</dt>
	<dd><p><a href="{% url semifinal-nl %}">Halve finales</a> in de <a href="{% url regional-centers-nl %}">regionale centra</a>.</p></dd>

	<dt>7-11 maart 2011</dt>
	<dd><p>Tweedaagse opleiding algoritmiek (optioneel) voor leerlingen uit het middelbaar onderwijs (krokusvakantie, exacte data te bepalen).</p></dd>

	<dt>30 maart 2011</dt>
	<dd><p><a href="{% url final-nl %}">Finales</a> in de UCL te Louvain-La-Neuve.</p></dd>

	<dt>2 april 2011</dt>
	<dd><p>Bekendmaking resultaten en prijsuitreiking (plaats te bepalen).</p></dd>

	<dt>11-24 april 2011</dt>
	<dd><p>Vierdaagse opleiding algoritmiek voor leerlingen uit het middelbaar onderwijs geselecteerd voor de IOI pool (exacte data te bepalen).</p></dd>

	<dt>22-29 juli 2011</dt>
	<dd><p>23<sup>st</sup> International Olympiad in Informatics (IOI) in Pattaya in Thailand (<a href="http://www.ioi2011.or.th/">http://www.ioi2011.or.th/</a>).</p></dd>
</dl>

{% endblock %}
