{% extends "nl/base.html" %}

{% block content%}
<h2>Kalender</h2>

<p>Deze officiële kalender bevat de belangrijkste data van de Belgische Olympiades in de Informatica 2012.</p>

<dl>
	<dt>29 januari 2012</dt>
	<dd><p>Uiterste inschrijvingsdatum.</p></dd>

	<dt>1 februari 2012</dt>
	<dd><p>Halve finale in de regionale centra.</p></dd>

	<dt>20-24 februari 2012</dt>
	<dd><p>Tweedaagse opleiding algoritmiek (optioneel) voor leerlingen uit het middelbaar onderwijs (krokusvakantie, exacte data nog te bepalen).</p></dd>

	<dt>14 maart 2012</dt>
	<dd><p>Finale.</p></dd>

	{# <dt>2 april 2012</dt> #}
	{# <dd><p>Bekendmaking resultaten en prijsuitreiking te Louvain-La-Neuve.</p></dd> #}

	<dt>2-13 april 2012</dt>
	<dd><p>Diepgaande opleiding algoritmiek voor de kandidaten geselecteerd voor de IOI pool (exacte data nog te bepalen).</p></dd>

	<dt>23-30 september 2012</dt>
	<dd><p>24<sup>st</sup> International Olympiad in Informatics (IOI) in Noord-Italië ({{ "http://www.ioi2012.org/"|urlize }}).</p></dd>
</dl>

{% endblock %}
