{% extends "nl/base.html" %}

{% block content%}
<h1>Comité be-OI</h1>

		<p>
		De Olympiades in de Informatica worden mede georganiseerd door UCLouvain ACM Student Chapter vzw en de Facultés Universitaires Notre-Dame de la Paix
      	(FUNDP) in Namen.
      </p>
      
      <p>
		De organisatie van deze Olympiades is ook mogelijk dankzij de hulp van onze leden en dankzij de medewerkers aan de universiteiten en hogescholen die ons ondersteunen.
      </p>

      
      <h3>Comité</h3>
      <p>
		Het Coördinatiecomité van de OI 2010, belast met het beheren van alle aspecten van de wedstrijd, bestaat uit:
      </p>
      
      <dl>
      	<dt>Sébastien Combéfis</dt><dd><p>UCLouvain ACM-SC &amp; Onderzoeker UCL</p></dd>
      	<dt>Damien Leroy</dt><dd><p>UCLouvain ACM-SC &amp; Onderzoeker UCL</p></dd>

      	<dt>Chantal Poncin</dt><dd><p>Personeel UCL</p></dd>
      	<dt>Fabian Gilson</dt><dd><p>Onderzoeker FUNDP</p></dd>
      </dl>
      
      <h3>Jury</h3>
      <p>De jury van de proeven bestaat uit :</p>
      
      <dl>

      <dt>Philippe Delsarte<dt><dd><p>Professor UCLouvain</p></dd>
      <dt>Isabelle Dony<dt><dd><p>Professor HERS</p></dd>
      <dt>Bruno Quoitin<dt><dd><p>Professor UMons</p></dd>
      <dt>Sébastien Combéfis</dt><dd><p>UCLouvain ACM-SC &amp; Onderzoeker UCL</p></dd>

      <dt>Yves Jaradin<dt><dd><p>Onderzoeker UCLouvain</p></dd>
      <dt>Fabian Gilson</dt><dd><p>Onderzoeker FUNDP</p></dd>
      <dt>Damien Leroy</dt><dd><p>UCLouvain ACM-SC &amp; Onderzoeker UCL</p></dd>
      <dt>Hadrien Mélot<dt><dd><p>Onderzoeker UMons</p></dd>

      </dl>
      
      
      <h3>Contact</h3>
      
      <p>
		Elke vraag over relaties met de universiteiten en hogescholen in de Franstalige Gemeenschap van België mag 
		gesteld worden via email aan Chantal Poncin: 
      	<a href="mailto:chantal.poncin@uclouvain.acm-sc.be">chantal.poncin@uclouvain.acm-sc.be</a>.
      </p>
      
      <p>
		Als u ons financieel of materieel wilt ondersteunen door een gift of door sponsoring, contacteerd dan Damien Leroy via het emailadres: 
      	<a href="mailto:sponsors@uclouvain.acm-sc.be">sponsors@uclouvain.acm-sc.be</a>.
      </p>

      
      <p>
		Tenslotte, voor alle andere vragen over de Olympiades in de Informatica, kan u terecht bij Sébastien Combéfis op het adres:
        <a href="mailto:sebastien.combefis@uclouvain.acm-sc.be">sebastien.combefis@uclouvain.acm-sc.be</a>.
      </p>



{% endblock %}
