{% extends "nl/base.html" %}

{% block title %}Veel gestelde vragen{% endblock title %}
{% block content %}

<h2>Veel gestelde vragen</h2>

<p>Op deze pagina staan de antwoorden op de vragen die ons het vaakst gesteld worden, en waarvan het antwoord niet snel terug te vinden is op de website. Heb je toch nog een andere vraag, aarzel niet om ons te contacteren op (info [a] be-oi.be).</p>

{% if categories %}
<h3>Thema's</h3>
<ul>
	{% for category in categories %}
	<li><a href="#cat{{category.id}}">{{ category.name_nl }}</a></li>
	{% endfor %}
</ul>
{% else %}
    <p><strong>Geen vragen gevonden.</strong></p>
{% endif %}

<hr />

{% for category in categories %}
	<h3><a name="cat{{category.id}}"></a>{{ category.name_nl }}</h3>
<dl>
	{% for question in category.questions %}
		<dt>{{ question.question }}</dt>
		<dd><p>{{ question.answer }}</p></dd>
	{% endfor %}
</dl>
{% endfor %}

{% endblock content %}
