{% extends "nl/base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>De finale 2012 zal plaatsvinden op woensdag 14 maart. In tegenstelling tot de halve finale bestaat ze uit twee delen: een schriftelijk gedeelte en een gedeelte aan de computer. De locatie is nog niet bepaald. </p>
	
<p>Enkele hints over het soort vragen dat je kan verwachten op de finale staan in het reglement hieronder opgesomd. Aarzel ook niet om de <a href="{% url sample-questions LANGUAGE_CODE %}">vragen van vorige jaren</a> te raadplegen.</p>

<h3>Reglement van de proef</h3>

{% include "nl/includes/final_rules.html" %}

{% endblock %}
