{% extends "base.html" %}

{% block content%}

<p style="color: red; font-size: 10px;">Disclaimer: dit wedstrijdreglement werd met de grootste zorg opgesteld in het Frans en het Nederlands. Niettemin is het mogelijk dat er kleine inconsistenties tussen de Nederlandstalige en Franstalige tekst aan onze aandacht zijn ontsnapt. In geval van onduidelijkheid of tegenstrijdigheden tussen de Nederlandstalige en Franstalig versie, beslist het organiserend comité. Indien u fouten ontdekt of suggesties heeft ter verbetering, horen wij er graag van, en kan u ze e-mailen naar <a href="mailto:info@be-oi.be">info@be-oi.be</a>. Het organiserend comité behoudt zich het recht voor om kleine aanpassingen te maken aan dit reglement tot voor de dag van de proeven, als dit noodzakelijk zou zijn).</p>

<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>De finale van 2011 vindt plaats op woensdag 30 maart en begint om 14u. In tegenstelling tot de halve finale bestaat ze uit een deel op papier en een deel aan de computer. De locatie is nog te bepalen.</p>
	
<p>Enkele aanwijzingen over het type vragen dat u kunt verwachten in de finale staan in het reglement hieronder. Aarzel niet om <a href="{% url sample-questions-nl %}">de vragen van het afgelopen jaar</a> te raadplegen.</p>

<h3>Voorlopig reglement van de wedstrijd</h3>

<p>Dit document bevat alle regels betreffende de finale van de Belgische Olympiades in de Informatica 2011. Een deelnemer die eender welk deel van dit reglement niet naleeft, riskeert onmiddellijke uitsluiting uit de wedstrijd. Door deel te nemen aan de finale van de Belgische Olympiades in de Informatica 2011, aanvaarden de deelnemers dit reglement volledig.</p>


<ul>
	<li>Elke deelnemer die was ingeschreven voor de halve finale en weerhouden werd voor de finale, wordt verzocht zich minstens 15 minuten voor de aanvang van de finale aan te bieden. Elke vertraging vanwege de deelnemer zal worden afgetrokken van de proeftijd.</li>
	
	<li>De finale is samengesteld uit 2 verschillende wedstrijden, de eerste voor leerlingen uit het middelbaar onderwijs en de tweede voor studenten in het eerste jaar hoger onderwijs. Elke categorie krijgt aparte vragen. Elk van deze 2 wedstrijden bestaat uit 2 delen, éen aan de computer en éen op papier.</li>
	
	<li>De taal gekozen bij de inschrijving bepaalt de taal van het opgavenblad. Als een deelnemer van taal wenst te veranderen tussen de halve finale en finale, dient hij/zij dit tenminste 5 dagen voor aanvang van de finale mee te delen aan het comité van de wedstrijd (CCOI).</li>
</ul>



<h4>Schriftelijk gedeelte</h4>

<ol>
	<li>Twee types vragen zijn mogelijk in het schriftelijk gedeelte van de proef:
		<ul>
			<li>Meerkeuzevragen : het resultaat van een algoritme vinden, een ontbrekend gedeelte ervan invullen, of er een fout in ontdekken;</li>
			<li>Open vragen waarin de deelnemer een missende instructie of een korte reeks instructies moet vinden.</li>
		</ul>
	</li>
	
	<li>Bij de meerkeuzevragen, zet de deelnemer een kruis in het vakje dat hoort bij het antwoord dat hij/zij wenst te geven. In het geval van een fout, kan het antwoord geannuleerd worden door het vakje volledig zwart te kleuren. Elke vraag heeft slechts 1 juist antwoord. Bij een fout antwoord worden punten afgetrokken, bij geen antwoord worden geen punten gegeven, een goed antwoord levert punten op. De puntenwaarden van elke vraag worden vermeld op het opgavenblad.</li>
	
	<li>De deelnemers mogen op de vragen antwoorden in het Frans, Nederlands, Engels, in pseudo-code of in een van de toegestane programmeertalen: Java, C, C++, Pascal, Python en PHP. Het is verboden om functies te gebruiken die niet voorkomen in de standaardbibliotheken van deze talen.</li>
</ol>

<h4>Gedeelte aan de computer</h4>

<ol>
	<li>Het gedeelte aan de computer bestaat erin een of meerdere programma's te schrijven om een of meerdere gestelde problemen op te lossen.</li>
	
	<li>De toegestane programmeertalen voor dit gedeelte zijn Java, C, C++, Pascal, Python en PHP.</li>
	
	<li>Gezien de diversiteit van toegestane programmeertalen, zal de efficiëntie van de geschreven programma's geen primordiaal evaluatiecriterium zijn. De uitvoeringstijden worden onderling niet vergeleken, maar er zal wel een maximumduur worden opgelegd aan de uitvoeringstijd. De evaluatie zal enkel gebaseerd zijn op het uitvoeren van testen die toestaan verschillende niveau's van efficiëntie te onderscheiden. Die testen zijn gekozen op zo'n manier dat ze elke redelijke implementatie toelaten een oplossing te berekenen voor het gegeven probleem binnen het gegeven tijdsbestek. Alle kandidaten worden dus aangemoedigd om een oplossing voor te stellen, zelfs als deze voor extreme varianten van het probleem niet zou werken, want het kan toch nog enkele punten opleveren.</li>
	
	<li>De deelnemer zal opgaven krijgen van het 'batch'-type. Het ingediende programma leest gegevens in uit een bestand en schrijft het antwoord weg naar een ander bestand. Om zich op de hoofdzaak te kunnen concentreren, zal de deelnemer een skeletvorm van het programma krijgen, dat enkel verder ingevuld moet worden.</li>
	
	<li>De deelnemers wordt aangeraden om van tijd tot tijd een back-up te nemen van hun oplossingen. Deze back-ups mogen overal op de computer bewaard worden, maar bij voorkeur in de daarvoor bedoelde map. De organisatoren kunnen niet verantwoordelijk worden gesteld voor "last-minute"-problemen die tot gevolg zouden kunnen hebben dat geen enkele test nog werkt.</li>
	
	<li>De deelnemers zullen geen enkele toegang hebben tot het internet. De deelnemers zullen wel toegang hebben tot de documentatie die bij elke programmeertaal hoort. Ze mogen gebruik maken van alle standaardbibliotheken beschikbaar in deze talen.</li>
	
	<li>Er is geen beperking op de hoeveelheid geheugen die gebruikt kan worden door de ingediende programma's, tenzij de beperkingen van de computer zelf.</li>
	
	<li>Meer details volgen in het hoofdstuk over het verloop van deze proef.</li>
</ol>

<h4>Verloop van de proef</h4>

<p>De finale wordt opgesplitst in twee delen waarvan het gewicht nog moet worden vastgesteld: een deel schriftelijk en een deel aan de computer. Deze delen van de proef wordt afgewisseld tussen de wedstrijd voor leerlingen uit het middelbaar en die voor leerlingen uit het hoger onderwijs. Tijdens elk onderdeel van de proef mogen de deelnemers niet met elkaar of met enige andere persoon communiceren (met uitzondering van de organisatoren en begeleiders) op eender welke manier. Ze mogen hun plaats niet verlaten om naar het toilet te gaan of te roken. Ze moeten de instructies van de organisatoren gedurende het gehele evenement opvolgen.</p>

<p>Voor beide onderdelen mogen de deelnemers enkel iets om te schrijven bij zich hebben. Elk ander object of elektronisch materiaal is ten strengste verboden. Deelnemers moeten hun mobiele telefoons (en gelijkaardige apparaten) uitschakelen. Deelnemers zullen al hun persoonlijke bagage (tassen, jassen etc) achterlaten op de plaats aangegeven door de organisatoren, vooraleer plaats te nemen. Zij zullen kladpapier ter beschikking krijgen. De deelnemers mogen niet drinken of eten gedurende de twee delen van de proef. Ze worden aangemoedigd dit te doen voor of na de proef, of tussen de twee gedeeltes in.</p>

<p><strong>Begin en einde van de proef</strong></p>

<p>Deelnemers worden verzocht om plaats te nemen op de plaatsen aangeduid door de organisatoren, hun identiteitskaart op tafel te leggen en de algemene instructies op de eerste pagina van de vragenlijst te lezen. Deelnemers mogen de vragenlijst slechts openen wanneer zij hiervoor de toestemming krijgen van de organisatoren. Zodra het eind van de proef wordt aangekondigd, moeten deelnemers hun pen of potlood neerleggen bij het schriftelijk gedeelte, en mogen zij het toetsenbord niet meer aanraken bij het gedeelte op computer.</p>

{# <p>En ce qui concerne la partie sur machine, les participants doivent avant tout encoder leur nom et prénom dans la fenêtre présentée sur la session. Cette étape est obligatoire et si elle n'est pas exécutée adéquatement, le rapatriement des délivrables ne pourra pas se faire et le participant aura donc 0 point pour cette partie.</p> #}

<p><strong>Verduidelijking en ondersteuning</strong></p>

<p>Deelnemers zijn vrij om te vragen te stellen aan de organisatoren, maar niet aan de toezichthouders. De organisatoren kunnen antwoord geven op technische vragen met betrekking tot het begrip van de opgaven op het opgavenblad, de infrastructuur, of de uitvoering van skeletvormen van programma's en testen die gegeven worden. Tenminste éen organisator zal regelmatig aanwezig zijn bij het schriftelijke deel en het deel aan de computer. De organisatoren zullen duidelijk herkenbaar zijn en zullen aan de deelnemers voorgesteld worden bij het begin van de proef.</p>

<p>Voor elke vraag die geen verband houdt met de test zelf (bijv. kladpapier, hoeveel tijd er nog rest, waar de toiletten zijn tussen de twee gedeeltes in), kunnen de deelnemers de toezichthouders ook aanspreken.</p>

<p><strong>Uitvoering van de validatietesten</strong></p>

<p>Gedurende het volledige gedeelte aan de computer, zullen de deelnemers de gelegenheid hebben om een reeks eenvoudige tests uit te voeren op hun programma. Deze tests zijn van het grootste belang, omdat zij toelaten om te verifiëren of het programma wel werkt volgens de instructies vooraleer het wordt ingediend. De skeletvormen van de programma's die worden voorzien voor de deelnemers zullen deze testen met succes volbrengen. Het is dus aan de deelnemers om ervoor te zorgen dat dit nog steeds het geval is aan het eind van de proef. Hoewel deze testen gelijkaardig zijn aan diegenen die gebruikt worden voor de evaluatie, zullen de gegeven testen enkel relatief kleine en eenvoudige voorbeelden dekken. Het wordt ten zeerste aanbevolen dat deelnemers de gegeven testen alsnog uitvoeren vooraleer hun programma's in te dienen. Het falen van de gegeven testen resulteert naar alle waarschijnlijkheid in nul punten.</p>

<h4>Evaluatie</h4>

<p>Voor het schriftelijke deel, zal een verkeerd antwoord voor een meerkeuzevraag worden bestraft met negatieve punten, geen antwoord resulteert in geen punten, en correcte antwoorden krijgen positieve punten. Voor vragen waar code vervolledigd moet worden, zal het antwoord als ofwel goed ofwel fout worden beschouwd.</p>

<p>Voor het gedeelte aan de computer, zullen de punten afhangen van de testen waaraan de ingediende programma's worden onderworpen. De programma's zullen worden onderworpen aan meerdere testrondes, telkens complexer, en de punten hangen af van het aantal testen dat succesvol wordt afgerond. De uitvoeringstijd van het programma mag niet meer bedragen dan een vooraf vastgestelde termijn. De maximale grootte van een testronde en de tijdslimiet zullen in de opgave gespecificeerd worden. De testen die worden gebruikt voor de validatie zijn van hetzelfde type, maar inhoudelijk anders, dan diegenen die voorzien worden tijdens de proef.</p>

<h4>Gedragscode</h4>

<p>De proef zal plaatsvinden in de gebouwen van de Université Catholique de Louvain, te Louvain-La-Neuve. Deelnemers zijn verplicht zich te houden aan de reglementen die gelden op de universiteitscampus. Bovenal dienen de deelnemers zich welgemanierd en verantwoordelijk te gedragen naar anderen toe, en dienen ze het materiaal dat ter beschikking wordt gesteld te respecteren. In het bijzonder mogen deelnemers in geen geval:</p>

<ul>
	<li>schade toebrengen aan de ter beschikking gestelde apparatuur;</li>
	<li>de machines gebruiken voor eender welke activiteit niet gerelateerd aan de test;</li>
	<li>de beveiliging van de machines omzeilen, communiceren met andere deelnemers, of hen bestanden bezorgen;</li>
	<li>communiceren met andere personen dan de organisatoren of toezichthouders tijdens de twee delen van de test.</li>
</ul>

<p>Realiseer u dat een poging tot bedrog zal gezien worden als valsspelen, en kan worden bestraft met de onmiddellijke uitsluiting van de deelnemer. Deze beslissing wordt overgelaten aan het oordeel van de organisatoren.</p>

{% endblock %}
