{% extends "nl/base.html" %}

{% block title %}Belgische Olympiade in Informatica{% endblock %}

{% block content%}

<img class="withframe" src="/static/pictures/2010/finale-banner.jpg" alt="image post" width="700" height"217" />

<p>De Belgische Olympiades in Informatica (OI) zijn en competitie van programmering, algorithmiek en logica die is samengesteld door twee wedstrijden. De eerste is voor leerlingen uit het einde van het middelbaar, en dient om kandidaten te identificeren voor de Internationale Olympiades in Informatica (IOI). De tweede wedstrijd is voor studenten uit het eerste jaar van het hoger onderwijs.</p>

<h3>Laatste nieuws</h3>

{% if latest %}
    {% for entry in latest %}

	{% if entry.lang == 1 %}
	<div class="post">
		<div class="right">
			<h4>{{ entry.title }}</h4>
			{{ entry.body|safe }}
		</div>
		
		<div class="left">
			<p class="dateinfo">{{ entry.publication_date|date:"M" }}<span>{{ entry.publication_date|date:"d" }}</span></p>

			<div class="post-meta">
					<ul>
						<li class="user">{{ entry.author }}</li>
						<li class="time">{{ entry.publication_date|date:"H:i" }}</li>
					</ul>
			</div>
		</div>
	</div>
	{% endif %}
    {% endfor %}
{% endif %}

{% endblock %}

