{% extends "nl/base.html" %}

{% block title %}Belgische Olympiades in de Informatica{% endblock %}

{% block content%}

<img class="withframe" src="/static/pictures/2010/finale-banner.jpg" alt="image post" width="680" height"217" />

<p>De Belgische Olympiades in de Informatica (OI) zijn competities in programmeren, algoritmiek en logica. Er zijn twee wedstrijden: de eerste is voor leerlingen uit het middelbaar onderwijs. De beste kandidaten plaatsen zich voor de Internationale Olympiades in Informatica (IOI). De tweede wedstrijd focust op studenten uit het eerste jaar van het hoger onderwijs.</p>

<h3>Laatste nieuws</h3>

    {% for entry in latest %}

	<div class="post">
		<div class="right">
				<h4>{{ entry.title }}</h4>
			{{ entry.body|safe }}
		</div>
		
		<div class="left">
			<p class="dateinfo">{{ entry.publication_date|date:"M" }}<span>{{ entry.publication_date|date:"d" }}</span></p>

			<div class="post-meta">
					<ul>
						<li class="user">{% if entry.author.first_name %}{{ entry.author.first_name }} {{ entry.author.last_name }}{% else %}{{ entry.author }}{% endif %}</li>
						<li class="time">{{ entry.publication_date|date:"H:i" }}</li>
					</ul>
			</div>
		</div>
	</div>
    {% endfor %}

{% endblock %}

