{% extends "nl/base.html" %}

{% block content%}

<h2>International Olympiad in Informatics 2011</h2>

<p>De <b>International Olympiad in Informatics</b> (IOI) is een internationale informaticawedstrijd voor leerlingen uit het middelbaar onderwijs. Ze vindt elk jaar plaats in een ander land. Vorig jaar (2010) was Canada het gastland, en in 2011 zal Thailand de wedstrijd organiseren. Meer dan 80 landen zijn vertegenwoordigd met een nationale ploeg. De IOI is een van de 8 wetenschapsdisciplines waarvoor internationaal erkende olympiades worden georganiseerd, naast wiskunde, biologie, chemie, fysica, aardrijkskunde, astronomie en linguïstiek. De Belgische <a href="{% url 2010-ioi-belgian-delegation-nl %}">deelname aan de IOI 2010</a> was de eerste deelname van ons land sinds de enige vorige deelname in 1992.<p>

<p style="text-align: center;"><img src="/static/logos/ioi2011.jpg" /></p>

<p>Op basis van de <a href="{% url final-nl %}">finale</a> van de Belgische Olympiades in de Informatica 2011, werden 10 kandidaten (5 Nederlandstaligen en 5 Franstaligen) weerhouden om deel te maken van een <b>Belgische trainingspool</b> voor de IOI. Deze kandidaten krijgen een intensieve stage aangeboden gedurende de tweede week van de Paasvakantie. Na afloop van deze stage wordt een test georganiseerd waarna 4 deelnemers geselecteerd zullen worden (2 Nederlandstaligen en 2 Franstaligen) om de Belgische delegatie te vormen die naar Thailand gestuurd zal worden. Het doel is om een of meer medailles weg te kapen op die wedstrijd, van 22 tot 29 juli 2011.</p> 

<p>De geselecteerde kandidaten voor de trainingspool zijn, in alfabetische volgorde:</p>

<ul>
	<li>Pool-NL : Laurens Dewaele, Floris Kint, Oswald Maskens, Tomas Mertens en Jonathan Oostvogels.</li>
	<li>Pool-FR : Alexis Clarembeau, Guillaume Derval, Victor Lecomte, Benoît Legat en Jérémy Salerno.</li>
</ul>

{% endblock %}

