{% extends "nl/base.html" %}

{% block content%}

<h2>International Olympiad in Informatics 2012</h2>

<p>De <b>International Olympiad in Informatics</b> (IOI) is een internationale informaticawedstrijd voor leerlingen uit het middelbaar onderwijs. Ze vindt elk jaar plaats in een ander land. Vorig jaar (2011) was Thailand het gastland, en in 2011 zal <a href="http://www.ioi2012.org/" target="_blank">Italië</a> de wedstrijd organiseren. Meer dan 80 landen zijn vertegenwoordigd met een nationale ploeg. De IOI is een van de 8 wetenschapsdisciplines waarvoor internationaal erkende olympiades worden georganiseerd, naast wiskunde, biologie, chemie, fysica, aardrijkskunde, astronomie en linguïstiek. België nam eenmalig deel in 1992, <a href="{% url archives-2010-ioi LANGUAGE_CODE %}">2010</a> en <a href="{% url archives-2011-ioi LANGUAGE_CODE %}">2011</a>. Van die laatste wedstrijd brachten we alvast een bronzen medaille mee.<p>

<p>De deelnemers aan de Internationale Olympiade zullen worden geselecteerd, na bijkomende stages en proeven, uit een trainingspool die wordt samengesteld uit de laureaten van de finale van de Belgische Olympiade. </p>

{# <p>Op basis van de <a href="{% url final LANGUAGE_CODE %}">finale</a> van de Belgische Olympiades in de Informatica 2011, werden 10 kandidaten (5 Nederlandstaligen en 5 Franstaligen) weerhouden om deel te maken van een <b>Belgische trainingspool</b> voor de IOI. Deze kandidaten krijgen een intensieve stage aangeboden gedurende de tweede week van de Paasvakantie. Na afloop van deze stage wordt een test georganiseerd waarna 4 deelnemers geselecteerd zullen worden (2 Nederlandstaligen en 2 Franstaligen) om de Belgische delegatie te vormen die naar Thailand gestuurd zal worden. Het doel is om een of meer medailles weg te kapen op die wedstrijd, van 22 tot 29 juli 2011.</p> #}

{% endblock %}

