{% extends "base.html" %}

{% block content%}
<h2>Pers<img src="/static/pictures/2010/press.jpg" width="350" height="233" alt="firefox" class="withframe float-right" /></h2>

<p>U bent een journalist op zoek naar meer informatie over de Belgische Olympiades in de Informatica? U kunt onze berichten hieronder raadplegen of met ons direct contact nemen via de volgende email adres: <a href="mailto:info@be-oi.be">info@be-oi.be</a>.</p>

<h3>Persberichten</h3>

<ul>
	<li><a href="/static/downloads/oi2011-lancering-persbericht-26-12-2010.pdf">De 2011 Olympiades in de Informatica breiden uit tot heel Belgie</a> [26 décembre 2010] ;</li>
</ul>

{% endblock %}
