{% extends "nl/base.html" %}

{% block content%}
<h2>Reglement</h2>

<ol>
	<li>De Olympiades in de Informatica (OI) zijn een wedstrijd in programmeren, algoritmiek en logica, georganiseerd door Belgische universiteiten en hogescholen waar opleidingen informatica gedoceerd worden.</li>

	<li>De OI worden gecoördineerd door een coördinatiecomité (CCOI) bestaande uit onderwijzend personeel van Belgische universiteiten en hogescholen. Het CCOI is verantwoordelijk voor het beheer van alle aspecten van deze competitie.</li>
	
	<li>Door hun inschrijving aanvaarden de kandidaten alle bepalingen van dit wedstrijdreglement.</li>

	<li>De officiële talen van de OI zijn het Nederlands en het Frans. De deelnemers moeten een taal kiezen (Frans of Nederlands) waarin ze aan de wedstrijd willen deelnemen.</li>
	
	<li>De kandidaten moeten in België verblijven en moeten ingeschreven zijn aan een middelbare school, hogeschool of universiteit gevestigd in België. De kandidaten moeten jonger zijn dan 25 jaar op de eerste mei van het jaar waarin de OI worden gehouden.</li>

	<li>De OI bestaat uit twee wedstrijden:
		<ol>
			<li>De eerste wedstrijd is bestemd voor leerlingen van het algemeen, technisch en beroeps secundair onderwijs van België.</li>
			<li>De tweede wedstrijd is bestemd voor studenten in hun eerste jaar hoger onderwijs.</li>
		</ol>
		
		De organisatoren van de OI mogen de kandidaten verzoeken een attest van inschrijving in een school voor te leggen.</li>

		<li>De vragen worden door de CCOI opgesteld. Iedere vraag heeft een indicatie van moeilijkheidsgraad. De vragen zijn verschillend voor elke competitie van de OI. De halve finales vinden plaats volledig op papier. Voor de finales zijn er twee soorten vragen:

			<ol>
				<li>Voor het eerste soort vragen moeten de kandidaten schriftelijk aantwoorden. De antwoorden mogen in pseudo-code of in een officiële programmeertaal gegeven worden.</li>
				
				<li>Voor het tweede soort vragen moeten de kandidaten via een programma (op computer) in een officiële programmeertaal antwoorden.</li>
			</ol>
			
			De officiële programmeertalen toegestaan voor de vragen op computer zijn: Java, C, C++, Pascal, Python en PHP.</li>
			
		<li>De wedstrijdjury die door de CCOI is samengesteld, verbetert de antwoorden van de kandidaten, maakt een rangschikking van de kandidaten en beslist wie de winnaars zijn van beide wedstrijden. Leden van deze jury zijn leden van universiteiten en hogescholen van België.</li>
		
		<li>De OI verloopt in twee ronden: halve finales en finales. De data van deze wedstrijden zijn door de CCOI vastgesteld en in de kalender gepubliceerd. De praktische organisatie van deze twee stappen wordt in specifieke reglementen beschreven.</li>

		<li>De 60 beste kandidaten uit de halve finales (genomen over alle regionale centra) van elke wedstrijd zullen deelnemen aan de finale.</li>

		<li>De winnaars van elke finale van de wedstrijden zullen prijzen krijgen.</li>
		
		<li>Minstens zes finalisten (drie Franstaligen en drie Nederlandstaligen) van de wedstrijd voor de leerlingen van het secundair onderwijs, die door de CCOI gekozen worden, mogen deel maken van een pool van leerlingen, waaruit deelnemers van het Belgische nationale team voor de Internationale Olympiades in Informatica (IOI) zullen gekozen worden. De kandidaten hiervoor moeten ook aan de volgende bijkomende criteria voldoen: jonger zijn dan 20 jaar zijn op 1ste juli van het jaar waarin de IOI worden gehouden, en de Belgische nationaliteit hebben. De aantal geselecteerde finalisten is door de CCOI gewijzigd worden.</li>

		<li>Een kandidaat die weigert deel te nemen aan de IOI pool kan door een andere finalist(e) vervangen worden. Deze beslissing wordt door de CCOI genomen.</li>

		<li>In alle gevallen niet voorzien in bovenstaand reglement beslist de CCOI. CCOI beslissingen zijn definitief.</li>
     </ol>

{% endblock %}
