{% extends "base.html" %}

{% block content%}
<h2>Reglement</h2>

<ol style="color: red;">
	<li>De Universiteiten en Hogescholen die een opleiding in Informatica geven organiseren de Olympiades in Informatica (OI), die een wedstrijd van programmering, algorithmiek en logica is.</li>
	
	<li>De coördinatie van de OI wordt door het Coördinatie Comité (CCOI) uitgevoerd. De CCOI bestaat uit leden van het onderwijzend personneel van belgische Unvisersiteiten en Hogescholen en beheert alle aspecten van de wedstrijd.</li>
	
	<li>Bij inschrijving aanvaarden de kandidaten alle termen van dit reglement.</li>
	
	<li>De officiële talen van de OI zijn het frans en het nederlands. De deelnemers moeten de taal (frans of nederlands) waarin ze aan de wedstrijd willen deelnemen kiezen.</li>
	







	<li>Les candidats doivent résider en Belgique et être inscrits dans un établissement scolaire établi en Belgique au cours de l'année scolaire durant laquelle prennent place les OI. Les candidats doivent avoir moins de 25 ans au 1<sup>er</sup> mai de l'année au cours de laquelle ont lieu les OI.</li>

	<li>Deux concours sont organisés durant ces Olympiades :
		<ol>
			<li>Le premier concours est destiné à des élèves étant inscrits en secondaire général, technique ou professionnel du réseau officiel ou libre.</li>
			
			<li>Le second concours est destiné à des étudiants en première année d'études supérieures, du réseau officiel ou libre.</li>
		</ol>

		Une preuve d'inscription dans un établissement scolaire peut être demandée aux participants par les organisateurs des OI.</li>

		<li>Les questions sont préparées par le CCOI. Chacune d'entre elles est accompagnée d'un niveau de difficulté indicatif. Les questions sont différentes pour les deux concours des OI. Les Demi-Finales se déroulent intégralement sur papier. Pour les Finales, il y aura deux types de questions :

			<ol>
				<li>Le premier type de questions correspond à des exercices à résoudre sur papier. Les réponses peuvent être données en pseudo-code ou dans un des langages de programmation officiellement autorisés.</li>
     			
				<li>Le second type de questions correspond à des exercices à résoudre sur ordinateur sous forme d'un programme écrit dans un des langages de programmation officiellement autorisés.</li>
			</ol>
			
			Les langages de programmation officiellement autorisés sont Java, C, C++, Pascal, Python et PHP.</li>
     	
     	<li>Le CCOI constitue un jury chargé de corriger les réponses des candidats, d'établir le classement des candidats et de désigner les lauréats pour les deux concours. Les membres de ce jury sont des membres des corps enseignants d'Universités et Hautes-Écoles de Belgique.</li>

		<li>Les OI sont organisées en deux étapes : Demi-Finales et Finales. Les dates de ces étapes sont fixées par le CCOI et indiquées dans le calendrier. Les dispositions pratiques et règles de ces deux étapes sont reprises dans des règlements dédiés.</li>

		<li>Au maximum 60 finalistes parmi les candidats des Demi-Finales de chaque concours ayant obtenu les meilleurs scores sont sélectionnés pour les Finales, tout centres régionaux confondus.</li>

		<li>Les lauréats des Finales de chaque concours recevront des prix.</li>

		<li>Au minimum six finalistes du concours pour élèves du secondaire (trois francophones et trois néerlandophones) se verront proposer de faire partie du pool d'élèves parmi lesquels seront choisis les participants à l'équipe nationale pour les Olympiades Internationales d'Informatique (IOI). De plus, ceux-ci doivent entrer dans les critères des IOI, ce qui inclus entre autre d'avoir moins de 20 ans au 1<sup>er</sup> juillet de l'année des IOI et d'avoir la nationalité belge.</li>

		<li>Un candidat renonçant à sa participation au pool IOI pourra être remplacé par un autre finaliste; la décision revenant au CCOI.</li>

		<li>Tout point non prévu par le présent règlement sera tranché par le CCOI.</li>
     </ol>

{% endblock %}
