{% extends "base.html" %}

{% block content%}
<h2>Reglement</h2>

<ol>
	<li style="color: red;">Les Olympiades d'Informatique (OI) sont une compétition de programmation, d'algorithmique et de logique organisée par des Universités et Hautes-Écoles de Belgique dispensant des formations en informatique.</li>

	<li style="color: red;">Les OI sont coordonnées par un comité de coordination (CCOI) composé de membres des corps enseignants d'Universités et Hautes-Écoles de Belgique. Le CCOI est chargé de gérer tous les aspects liés au concours.</li>
	
	<li>Bij inschrijving aanvaarden de kandidaten alle termen van dit wedstrijdreglement.</li>

	<li>Les langues officielles des OI sont le français et le néerlandais. Les participants doivent choisir la langue (français ou néerlandais) dans laquelle ils souhaitent concourir.</li>
	
	<li>De kandidaten moeten in België verblijven en moeten in een school/universiteit (bevestigd in België) ingeschreven worden. De kandidaten moeten jonger dan 25 jaar zijn op 1ste mei van het jaar waarin de OI worden gehouden.</li>

	<li>De OI bestaat uit twee wedstrijden:
		<ol>
			<li>De eerste wedstrijd is bestemd aan de leerlingen van het algemeen, technisch en beroepsonderwijs van België.</li>
			
			<li>De tweede wedstrijd is bestemd aan de studenten van het eerste jaar van het Hoger Onderwijs.</li>
		</ol>
		
		De organisatoren van de OI mogen een attest van inschrijving in een school aan de kandidaten vragen.</li>

		<li>De vragen zijn door de CCOI opgesteld. Iedere vragen heeft een indicatie van de moeilijkheidsgraad. De vragen zijn verschillend voor elke competitie van de OI. Er zijn twee soorten vragen (enkel voor de finale)

			<ol>
				<li>Voor het eerste soort vragen moeten de kandidaten schriftelijk aantwoorden, in het frans of in het nederlands. De antwoorden mogen in pseudo-code of in een officiële programmeeringtaal zijn.</li>
				
				<li>Voor het tweede soort vragen moeten de kandidaten via een programma (op computer) in een officiële programmeeringtaal antwoorden.</li>
			</ol>
			
			De officiële programmering talen voor de vragen op computer zijn: Java, C, C++, Pascal, Python en PHP.</li>

		<li>De wedstrijdjury die is door de CCoi samengesteld verbetert de antwoorden van de kandidaten, maakt een rangschikking van de kandidaten en beslist de winnaars van beide wedstrijden.</li>

		<li>De OI verloopt in twee ronden: halve finales en finales. De datum van deze wedstrijden zijn door de CCOI vastgesteld en in de kalender gepubliceerd. De prachtische regelingen van deze twee stappen zijn in specifieke reglementen teruggenomen.</li>

		<li>De 60ste beste kandidaten uit de halve finales (van alle regionale centra) van elke wedstrijd zullen deelnemen aan de finale.</li>

		<li>De winnaars van elke finale van de wedstrijden zullen prijzen krijgen.</li>
		
		<li>Minstens zes finalisten (drie franstaligen en drie nederlandstaligen) van de wedstrijd voor de leerlingen van het secundair onderwijs mogen deel maken van een pool van leerlingen waarvan de deelnemers van de nationale team voor de Internationale Olympiades in Informatica (IOI) zullen gekozen worden. De kandidaten moeten ook aan de volgende criteria overeenkomen: jonger dan 20 jaar zijn op 1ste juli van het jaar waarin de IOI worden gehouden en van belgische nationaliteit zijn.</li>

		<li>Een kandidaat die weigert de deelname aan de IOI pool kan door een andere finaliste vervangen zijn. De beslissing is door de CCOI genomen.</li>

		<li>In alle onvoorziene gevallen beslist de CCOI.</li>
     </ol>

{% endblock %}
