{% extends "nl/base.html" %}

{% block content%}
<h2>Algemeen Reglement</h2>

<ol>
	<li>De Olympiade in de Informatica (OI) is een wedstrijd in programmeren, algoritmiek en logica, georganiseerd door Belgische universiteiten en hogescholen waar opleidingen informatica gedoceerd worden.</li>

	<li>De OI wordt gecoördineerd door een coördinatiecomité (CCOI) bestaande uit onderwijzend personeel van Belgische universiteiten en hogescholen. Het CCOI is verantwoordelijk voor het beheer van alle aspecten van de competitie.</li>
	
	<li>Door hun inschrijving aanvaarden de kandidaten alle bepalingen van dit wedstrijdreglement.</li>

	<li>De officiële talen van de OI zijn het Nederlands en het Frans. De deelnemers moeten een taal kiezen (Frans of Nederlands) waarin ze aan de wedstrijd willen deelnemen.</li>
	
	<li>De kandidaten moeten in België verblijven en moeten ingeschreven zijn aan een middelbare school gevestigd in België tijdens het schooljaar waarin de wedstrijd plaatsvindt. De kandidaten moeten jonger zijn dan 25 jaar op de eerste mei van het jaar waarin de OI wordt gehouden.</li>

	<li>De wedstrijd is exclusief voorbehouden aan leerlingen die ingeschreven zijn in het algemeen, technisch, kunst- of beroepsonderwijs van het officiële of vrije net. De organisatoren van de OI mogen de kandidaten verzoeken een attest van inschrijving in een school voor te leggen.</li>

	<li>De vragen worden door het CCOI opgesteld. De halve finale is volledig schriftelijk. De finale omvat twee soorten vragen:

			<ol>
				<li>Op het eerste soort vragen moeten de kandidaten schriftelijk op papier antwoorden. De antwoorden mogen in pseudo-code of in één van de toegestane programmeertalen gegeven worden.</li>
				
				<li>Op het tweede soort vragen moeten de kandidaten antwoorden door een programma te schrijven aan de computer in één van de toegestane programmeertalen.</li>
			</ol>
			
			De officieel toegestane programmeertalen zijn: Java, C, C++, Pascal, Python en PHP.</li>
			
		<li>Het CCOI stelt een wedstrijdjury samen die verantwoordelijk is voor het verbeteren van de antwoorden van de kandidaten, het maken van een rangschikking van de kandidaten, en het aanduiden van de laureaten.</li>
		
		<li>De OI verloopt in twee rondes: halve finale en finale. De data van deze wedstrijden zijn door het CCOI vastgesteld en in de kalender gepubliceerd. De praktische organisatie van deze twee rondes wordt in specifieke reglementen beschreven.</li>

		<li>Maximum 60 kandidaten met de beste resultaten uit de halve finale, genomen over alle regionale centra heen, zullen deelnemen aan de finale.</li>

		<li>De laureaten van de finale zullen prijzen krijgen.</li>
		
		<li>Minstens zes finalisten (drie Franstaligen en drie Nederlandstaligen) van de wedstrijd worden door het CCOI gekozen om deel uit te maken van een pool van leerlingen, waaruit nadien deelnemers van het Belgische nationale team voor de Internationale Olympiades in Informatica (IOI) zullen gekozen worden. De kandidaten hiervoor moeten voldoen aan de criteria van de IOI: jonger zijn dan 20 jaar zijn op 1ste juli van het jaar waarin de IOI wordt gehouden, en de Belgische nationaliteit of een geldige Belgische verblijfsvergunning hebben. Het aantal deelnemers aan de pool wordt vastgelegd door het CCOI.</li>

		<li>Een kandidaat die weigert deel te nemen aan de IOI pool kan door een andere finalist(e) vervangen worden. Deze beslissing wordt door het CCOI genomen.</li>

		<li>In alle gevallen niet voorzien in bovenstaand reglement beslist het CCOI. Tegen beslissingen van het CCOI is geen beroep mogelijk.</li>
     </ol>

{% endblock %}
