{% extends "nl/base.html" %}

{% block content%}
<h2>Voorbeeldvragen</h2>

<p>Om te kunnen oefenen voor deze wedstrijd, kan je hier voorbeeldvragen downloaden, waarvan sommigen met een mogelijke oplossing en gedetailleerde uitleg.  Aarzel ook niet om het document <a href="/static/downloads/OI-2010-NL-intro-algo.pdf">Introductie tot de algoritmiek</a> eens door te nemen, dat je met behulp van gedetailleerde voorbeelden laat kennismaken met het gestructureerd oplossen van problemen. Dat laatste document is nog niet helemaal volledig maar zal het binnenkort wel zijn. </p>

<ul>
	<li><a href="/static/downloads/OI-2010-NL-intro-algo.pdf">Introductie tot de algoritmiek</li>
	<li><a href="/static/downloads/OI-2010-NL-voorbeeldvragen-secundair.pdf">Voorbeeldvragen</a></li>
</ul>

<p>Aarzel ook niet om de vragen van de vorige edities eens te bekijken:</p>

<ul>
	<li>Vragen finales 2011 (papier) : <a href="/static/downloads/OI-2011-final-sec-paper-nl.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2011-final-high-paper-nl.pdf">Supérieur</a></li>
	<li>Vragen finales 2011 (computer): <a href="/static/downloads/OI-2011-final-sec-comp-nl.pdf">Secondaire</a> &mdash; <a href="/static/downloads/OI-2011-final-high-comp-nl.pdf">Supérieur</a> </li>
	<li>Vragen halve finales 2011 : <a href="/static/downloads/OI-2011-halve-finales-secundair-nl.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2011-halve-finales-hoger-nl.pdf">Hoger</a> &mdash; <a href="/static/downloads/OI-2011-halve-finales-oplossing.pdf">Oplossingen</a></li>
	<li>Vragen finales 2010 (papier) : <a href="/static/downloads/OI-2010-NL-finale-papier-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-finale-papier-hoger.pdf">Hoger</a></li>	
	<li>Vragen finales 2010 (computer) : <a href="/static/downloads/OI-2010-NL-finale-machine-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-finale-machine-hoger.pdf">Hoger</a></li>
	<li>Vragen halve finales 2010 : <a href="/static/downloads/OI-2010-NL-halve-finale-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-halve-finale-hoger.pdf">Hoger</a></li>	

</ul>


{% endblock %}
