{% extends "nl/base.html" %}

{% block content%}
<h2>Halve finales<img src="/static/pictures/2010/oi2010-finals-sheet.jpg" width="350" height="231" alt="firefox" class="withframe float-right" /></h2>

<p>De halve finales vonden plaats op woensdag 16 februari 2011 in de verschillende <a href="{% url regional-centers-nl %}">regionale centra</a> in het land. In de categorie <em>secundair onderwijs</em> waren er 105 deelnemers. 49 onder hen werden geselecteerd voor de finale. In de categorie <em>hoger onderwijs</em> waren er 147 deelnemers, waarvan er 60 werden geselecteerd voor de finale.</p>

<p>De vragen van de halve finales kan je hier downloaden:  
<a href="/static/downloads/OI-2011-halve-finales-secundair-nl.pdf">voor het <em>secundair onderwijs</em></a> en 
<a href="/static/downloads/OI-2011-halve-finales-hoger-nl.pdf">voor het  <em>hoger onderwijs</em></a>
.</p>

<h3>Resultaten</h3>

<p>De proef staat op 100 punten, maar omdat enkele vragen <em>bonuspunten</em> opleverden was het mogelijk voor de besten om meer dan 100 punten te halen.</p>

<h4>Categorie <em>secundair onderwijs</em></h4>
<p>De 5 beste scores in deze categorie zijn:</p>

<ol>
	<li><strong>Legat Benoît</strong> - Lycée Martin V, Louvain-la-Neuve - <em>112pt</em></li>
	<li><strong>Oostvogels Jonathan</strong> - Vita et Pax college, Schoten - <em>101pt</em></li>
	<li><strong>Meynaert Nathan</strong> - Collège Saint Barthélemy, Liège - <em>101pt</em></li>
	<li><strong>Jungers Thomas</strong> - Collège Notre-Dame du Bonlieu, Virton - <em>94pt</em></li>
	<li><strong>Mezhoud Sami</strong> - Athénée Royal Jean Absil, Bruxelles - <em>94pt</em></li>
</ol>		

<p>De lijst met de overige geselecteerden voor de finale is beschikbaar op  <a href="{% url semifinal-sec-nl %}">deze pagina</a>.</p>	

<h4>Categorie <em>hoger onderwijs</em></h4>
<p>De 5 beste scores in deze categorie zijn:</p>
	
<ol>
	<li><strong>Van Gysegem Thomas</strong> - Haute Ecole de la Province de Liège (HEPL) - INPRES - <em>98pt</em></li>
	<li><strong>Lange Joseph</strong> - Université catholique de Louvain (UCL) - <em>94pt</em></li>
	<li><strong>Marion Aurélien</strong> - Université libre de Bruxelles (ULB) , Bruxelles - <em>94pt</em></li>
	<li><strong>George Quentin</strong> - Université catholique de Louvain (UCL) - <em>91pt</em></li>
	<li><strong>Chatelain Julie</strong> - Haute Ecole Libre Mosane (HELMo) Saint-Laurent - <em>88pt</em></li>
</ol>		

<p>De lijst met de overige geselecteerden voor de finale is beschikbaar op <a href="{% url semifinal-high-nl %}">deze pagina</a>.</p>	

<h3>Statistieken</h3>
	
<p>Binnenkort beschikbaar</p>


{% endblock %}
