{% extends "nl/base.html" %}

{% block content%}
<h2>Halve finale<img src="/static/pictures/2010/oi2010-finals-sheet.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>De halve finale vindt plaats op woensdag 1 februari 2012 en zal om 14u beginnen in de verschillende <a href="{% url semifinal-places LANGUAGE_CODE %}">regionale centra</a> verspreid over het land.
	
<p>Enkele hints over de vragen waaraan deelnemers zich kunnen verwachten staan in het reglement hieronder opgesomd. Aarzel zeker niet om ook de <a href="{% url sample-questions LANGUAGE_CODE %}">vragen van vorige jaren</a> te raadplegen.</p>

<h3>Reglement van de wedstrijd</h3>

{% include "nl/includes/semifinal_rules.html" %}

{% endblock %}

