{% extends "nl/base.html" %}

{% block content%}
<h2>Sponsors 2012</h2>

<p>
De Belgische Olympiade in de Informatica is enkel mogelijk dankzij de ondersteuning van onze sponsors. Zelf interesse om te sponsoren of om een prijs aan te bieden? Bekijk dan onze <a href="/static/downloads/OI-2012-sponsoring-nl.pdf">sponsoringsbrochure</a> en contacteer ons op <a href="mailto:sponsoring@be-oi.be">sponsoring@be-oi.be</a> .
</p>


<h3>Internationaal Sponsor</h3>
<p><a href="http://www.ibbt.be" target="_blank"><img src="/static/logos/ibbt-logo.jpg" width="350"/></a></p>
<!--
<p><a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a></p>
-->

<h3>Prijzen aangeboden door:</h3>
<p>
<!-- 
<a href="http://www.editions-eyrolles.com/Theme/020000/informatique" target="_blank"><img src="/static/logos/eyrolles-logo.jpg" width="200" height="51" /></a>
-->
<a href="http://www.plantyn.com/wps/portal/{{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/plantyn-logo-NL.jpg" width="200" /></a>
<!--
<a href="http://www1.euro.dell.com/content/default.aspx?c=be&l={{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/dell-2011-logo.jpg" width="200" height="143" /></a>
<a href="http://www.redcorp.com/" target="_blank"><img src="/static/logos/redcorp-logo.jpg" width="200" height="51" /></a>
<a href="http://www.irislink.com/" target="_blank"><img src="/static/logos/iris-2011-logo.jpg" width="200" height="125" /></a>
-->
</p>


<!--
<h3>Institutionele steun</h3>

<p><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>
-->

{% endblock %}
