{% extends "nl/base.html" %}

{% block content%}
<h2>Sponsors</h2>

<p>Heeft u interesse om sponsor van de Belgische Olympiades in de Informatica te worden? Dit kan! Aarzel niet om contact met ons op te nemen door een email te sturen naar <a href="mailto:sponsors@be-oi.be">sponsors@be-oi.be</a> .
</p> 

<p>
Raadpleeg alvast <a href="/static/downloads/OI-2010-Balans-NL.pdf">de eindbalans van editie 2010</a>, en download onze <a href="/static/downloads/OI-2011-Dossier-Sponsoring-NL.pdf">sponsormap 2011</a>! 
Meer informatie over de editie van dit jaar is ook te raadplegen in onze <a href="/static/downloads/OI-2011-Dossier-Information-NL.pdf">informatiebrochure 2011</a>.
</p>


<h3>Premium Sponsor</h3>
<p><a href="http://www.ibm.com/be/nl/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a></p>


{% endblock %}
