{% extends "nl/base.html" %}

{% block content%}
<h2>Sponsors</h2>

<p>Heeft u interesse om sponsor van de Belgische Olympiades in de Informatica te worden? Dit kan! Aarzel niet om contact met ons op te nemen door een email te sturen naar <a href="mailto:sponsors@be-oi.be">sponsors@be-oi.be</a> .
</p> 

<p>
Aan de Nederlandse vertaling van de nodige informatieve documenten wordt naarstig gewerkt, maar in afwachting stellen we alvast de Franstalige versie beschikbaar van <a href="/static/downloads/OI-2010-bilan.pdf">de eindbalans van editie 2010</a>, en kunt u de Franstalige <a href="/static/downloads/OI-2011-Dossier-Sponsoring.pdf">sponsormap 2011</a> te downloaden.
</p>


<h3>Premium Sponsor</h3>
<p><a href="http://www.ibm.com/be/nl/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a></p>


{% endblock %}
