{% extends "nl/base.html" %}

{% block content%}
<h2>Be-OI team</h2>

<div>

<p>De Universiteiten en Hogescholen van België die een opleiding in Informatica geven organiseren de Olympiades in Informatica. Het coördinatiecomité (CCOI) beheert alle aspecten van de wedstrijd. De wedstrijdjury beheert alle aspecten betreffende de vragen, de verbetering, het maken van een rangschikking van kandidaten. Deze entiteiten zijn in <a href="{% url regulations-nl %}">het wedstrijdreglement</a> beschreven.</p>

<h3>Comité</h3>

<ul>
	<li>Mohammed Benjelloun</li>
	<li>Sébastien Combéfis</li>
	<li>Bart Demoen</li>
	<li>Isabelle Dony</li>
	<li>Joachim Ganseman</li>
	<li>Gilles Geeraerts</li>
	<li>Fabian Gilson</li>
	<li>Stefan Langerman</li>
	<li>Stéphane Lens</li>
	<li>Damien Leroy</li>
	<li>Hadrien Mélot</li>
	<li>Bruno Quoitin</li>
	<li>Tom Van Custsem</li>
	<li>Wim van Hoof</li>
</ul>

<h3>Jury</h3>

<p>De jury is nog niet gevormd.</p>

<h3>Contact</h3>

<p>Alle vragen betreffende de wedstrijd mogen via email naar <a href="mailto:info@be-oi.be">info@be-oi.be</a> gestuurd worden.</p>
</div>

{% endblock %}
