{% extends "nl/base.html" %}

{% block content%}
<h2>Be-OI team</h2>

<p>De Belgische Olympiades in de Informatica worden georganiseerd door universiteiten en hogescholen van België die opleidingen Informatica aanbieden. Het coördinatiecomité (CCOI) beheert alle aspecten van de wedstrijd. De wedstrijdjury beheert alle aspecten betreffende de vragen, de verbetering, en het rangschikken van de kandidaten. Al deze entiteiten zijn in <a href="{% url regulations-nl %}">het wedstrijdreglement</a> beschreven.</p>

<h3>Comité</h3>

<ul>
	<li>Mohammed Benjelloun</li>
	<li>Sébastien Combéfis</li>
    <li>Kris Coolsaet</li>
	<li>Bart Demoen</li>
	<li>Isabelle Dony</li>
	<li>Joachim Ganseman</li>
	<li>Gilles Geeraerts</li>
	<li>Fabian Gilson</li>
	<li>Stefan Langerman</li>
	<li>Stéphane Lens</li>
	<li>Damien Leroy</li>
	<li>Hadrien Mélot</li>
    <li>Frank Neven</li>
	<li>Bruno Quoitin</li>
	<li>Tom Van Cutsem</li>
	<li>Wim van Hoof</li>
</ul>

<h3>Contact</h3>

<p>Vragen over de wedstrijd? Stuur ze via email naar <a href="mailto:info@be-oi.be">info@be-oi.be</a> !</p>

{% endblock %}
