{% extends "nl/base.html" %}

{% block content%}
<h2>Training</h2>

<p>De halve finale van de Olympiade verloopt volledig schriftelijk en vereist weinig of geen programmeerervaring. In de finale zal echter wel aan de computer geprogrammeerd moeten worden. Om eventuele gaten in voorkennis op te vangen en iedereen een eerlijke kans te geven, wordt er tussen de halve finale en de finale een gratis minicursus georganiseerd voor alle deelnemers. Deelname is volledig vrijwillig.</p>

<p>Deze minicursus zal plaatsvinden tijdens de krokusvakantie. 
De cursus staat open voor iedereen die heeft deelgenomen aan de halve finale van de Olympiade.
De deelname aan de cursus is gratis, maar deelnemers moeten met eigen middelen ter plaatse komen.
{# en zelf een middaglunch of lunchgeld meenemen. #}
</p>

<h3>Praktische details</h3>


<p>Nederlandstalige deelnemers kunnen voor de training dit jaar terecht op de <a href="http://www.vub.ac.be/infoover/campussen/index.html#campus1">Vrije Universiteit Brussel, campus Etterbeek</a>. De cursus zal plaatsvinden op maandag 20 en dinsdag 21 Februari 2012 van 10u tot 16u. De exacte locatie wordt je meegedeeld na inschrijving.</p>

<p>Op het programma staat:</p>

<ul>
 	<li>Inleiding programmeren met Python</li>
 	<li>Inleiding algoritmiek</li>
 	<li>Oplossen van algoritmische problemen</li>
 	<li>Praktijk programmeren op de computer</li>
</ul>

<p>De deelnemers krijgen een gratis lunch in het studentenrestaurant.</p>
<p>Inschrijven kan door een e-mail te sturen naar <a href="mailto:tvcutsem@vub.ac.be">Tom Van Cutsem</a>. Vermeld hierbij je naam en school.</p>

{# <p>Een minicursus programmeren en algoritmiek wordt georganiseerd op donderdag 10 en vrijdag 11 maart 2011. #}
{# Je kan deze cursus volgen in het Nederlands te Antwerpen en in het Frans te Louvain-La-Neuve.</p> #}

{# <p>Deze minicursus is bedoeld voor alle leerlingen middelbaar onderwijs die hebben deelgenomen aan deze Olympiades. #}
{# De cursus is gratis, maar deelnemers moeten wel hun eigen lunch meenemen of ter plaatse betalen in het studentenrestaurant.</p> #}

{# <p>Inschrijven is gemakkelijk: stuur een e-mail naar <a href="mailto:joachim.ganseman@be-oi.be">joachim.ganseman@be-oi.be</a> #} 
{# en vermeld daarbij zeker je naam. #}

{# <h3>Praktische details</h3> #}

{# <p>De cursus loopt beide dagen van 9u tot 17u, en zal plaatsvinden op de Universiteit Antwerpen, op de campus Middelheim/Groenenborger #}
{# (<a href="http://maps.google.be/maps?q=dep%20wiskunde%20informatica&oe=utf-8&rls=org.mozilla:nl:official&client=firefox-a&um=1&ie=UTF-8&sa=N&hl=en&tab=wl">plan</a>). #}
{# De exact locatie waar we afspreken zal je na je inschrijving via email krijgen. #}
{# Op het programma staat: #}

{# <ul> #}
{# 	<li>Inleiding programmeren met Python</li> #}
{# 	<li>Inleiding algoritmiek</li> #}
{# 	<li>Oplossen van algoritmische problemen</li> #}
{# 	<li>Praktijk programmeren op de computer</li> #}
{# </ul> #}

{% endblock %}

