{% extends "nl/base.html" %}

{% block content%}
<h2>Voorbeeldvragen</h2>


<p>Om te kunnen oefenen voor deze wedstrijd, kan je hier voorbeeldvragen downloaden, waarvan sommigen met een mogelijke oplossing en gedetailleerde uitleg. <!-- N'hésitez pas non plus à lire le document <a href="/static/downloads/OI-2010-intro-algo.pdf">Introduction à l'algorithmique</a> qui vous propose une introduction à l'algorithmique à partir d'exemples détaillés. Ce dernier n'est pas encore complet, mais le sera très prochainement.--></p>

<ul>
	<li><!-- <a href="/static/downloads/OI-2010-intro-algo.pdf"> --> Introductie tot de algoritmiek (binnenkort beschikbaar!) </li>
	<li><a href="/static/downloads/OI-2010-NL-voorbeeldvragen-secundair.pdf">Voorbeeldvragen voor het secundair onderwijs.</a></li>
    <li><a href="/static/downloads/OI-2010-NL-voorbeeldvragen-hoger.pdf">Voorbeeldvragen voor het hoger onderwijs.</a></li>
</ul>

<br />
<p>Aarzel ook niet om de vragen van de voorbije jaren en de afgelopen rondes eens te bekijken:</p>

<ul>
	<li>Vragen Halve Finales 2011 : <a href="/static/downloads/OI-2011-halve-finales-secundair-nl.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2011-halve-finales-hoger-nl.pdf">Hoger</a></li>

	<li>Vragen Halve Finales 2010 : <a href="/static/downloads/OI-2010-NL-halve-finale-secundair.pdf">Secundair</a> &mdash;  <a href="/static/downloads/OI-2010-NL-halve-finale-hoger.pdf">Hoger</a>  </li>
	
    <li>Vragen Finales 2010 (papier) : <a href="/static/downloads/OI-2010-NL-finale-papier-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-finale-papier-hoger.pdf">Hoger</a> </li>
	
    <li>Vragen Finales 2010 (computer) : <a href="/static/downloads/OI-2010-NL-finale-machine-secundair.pdf">Secundair</a> &mdash; <a href="/static/downloads/OI-2010-NL-finale-machine-hoger.pdf">Hoger</a> </li>
</ul>

<br />
<p>De documenten waar nog geen link voor aanwezig is, zijn onderweg! Je kan wel <a href="{% url sample-questions-fr %}">de Franstalige versie</a> eens bekijken in afwachting.</p>




{% endblock %}
