{% extends "base.html" %}

{% block content%}
<h2>Inschrijven</h2>

{% if not error %}
<p>Gefeliciteerd, je bent nu ingeschreven ! Ga op 16 februari naar je regionale centrum.</p>
{% if object %}
<p>Je hebt <i>{{object}}</i> als centrum gekozen voor de halve finale. Dat centrum heeft ons de volgende informaties gegeven over de precieze plaats van de halve finale. Als het nodig is zul je meer informatie per email ontvangen.</p>
<div style="padding-left:50px;">{{object.details|safe}}</div>
{% endif %}

{% else %}
<p>Een probleem gebeurde gedurende het inschrijven. Misschien was je al ingeschreven !</p>

{% endif %} 
<p>&nbsp;</p>
<p>Als je je inschrijving wil veranderen, stuur en email naar <a href="inschrijven@be-oi.be">inschrijven@be-oi.be</a>.</p>


{% endblock %}
