{% extends "nl/base.html" %}

{% block content%}
<h2>OI 2010 Finales</h2>

<!--
<p>Deze pagina zal binnenkort vertaald worden. U kunt <a href="{% url finals-2010-fr %}">de franstalige versie</a> lezen in afwachting.</p>
-->

<p><img src="/static/pictures/2010/oi2010-sec-cat.jpg" width="200" height="156" class="withframe float-right" alt="De drie laureaten van de finale van de OI 2010, categorie secundair onderwijs" title="De drie laureaten van de finale van de OI 2010, categorie secundair onderwijs" />41 leerlingen uit het secundair onderwijs en 46 uit het hoger onderwijs hebben deelgenomen aan de finales van de Belgische Olympiades in de Informatica editie 2010, die plaatsvond op 12 mei 2010 te Louvain-La-Neuve. Het volledig klassement van de finalisten staat op deze pagina, voor de twee categorieën. De maximumscore was 100, maar weet dat het behalen van deze score binnen de tijdslimiet praktisch onmogelijk was. De finale omvatte een proef op papier en een proef aan de computer. Je kan hier de vragen van de twee wedstrijden downloaden, we hebben ze vertaald naar het Nederlands:</p>

<ul>
	<li>Categorie secundair onderwijs : <a href="/static/downloads/OI-2010-NL-finale-papier-secundair.pdf">papier</a> en <a href="/static/downloads/OI-2010-NL-finale-machine-secundair.pdf">computer</a>;</li>
	<li>Categorie hoger onderwijs : <a href="/static/downloads/OI-2010-NL-finale-papier-hoger.pdf">papier</a> en <a href="/static/downloads/OI-2010-NL-finale-machine-hoger.pdf">computer</a>.</li>
</ul>


<p>Bijna 5000&nbsp;&euro; aan prijzen werd uitgedeeld aan de beste finalisten van beide wedstrijden. Deze prijzen werden aangeboden door Technofutur TIC, HP, Dell, Eyrolles, IRIS en MacLine.<img src="/static/pictures/2010/oi2010-sup-cat.jpg" width="200" height="170" class="withframe float-right" alt="De drie laureaten van de finale van de OI 2010, categorie hoger onderwijs" title="De drie laureaten van de finale van de OI 2010, categorie hoger onderwijs" /></p>

<p>Onder de prijzen zaten onder andere een IRIS Scan, een IRIS Pen, een iPod Nano, een iPod Touch, een BlackBerry, een HP Mini Note, een Sony VAIO en een Dell Latitude.<p>

<p>Vier laureaten van de wedstrijd voor het secundair mochten eveneens deel uitmaken van <a href="{% url 2010-ioi-belgian-delegation-nl %}">de Belgische delegatie voor de International Olympiad in Informatics</a>, die in 2010 plaatsvond in Waterloo, Canada.</p>


<h3>Categorie secundair onderwijs</h3>

<table>
<tr><th>Pos.</th><th>Naam</th><th>School</th><th>Score</th></tr>
<tr>
	<td>1</td>
	<td>Joseph Lange</td>
	<td>Lycée Martin V – Louvain-la-Neuve</td>
	<td>60</td>
</tr>
<tr>
	<td>2</td>
	<td>Guillaume Derval</td>
	<td>Institut Saint-Joseph – Châtelet</td>
	<td>57</td>
</tr>
<tr>
	<td>3</td>
	<td>Benoît Legat</td>
	<td>Lycée Martin V – Louvain-la-Neuve</td>
	<td>54</td>
</tr>
<tr>
	<td>4</td>
	<td>Charles Hubain</td>
	<td>Ecole Decroly Bruxelles</td>
	<td>53</td>
</tr>
<tr>
	<td>5</td>
	<td>Thomas Vasbinder</td>
	<td>Collège Saint-François-Xavier 1 – Verviers</td>
	<td>53</td>
</tr>
<tr>
	<td>6</td>
	<td>Olivier Guerriat</td>
	<td>Institut Notre-Dame de Loverval</td>
	<td>49</td>
</tr>
<tr>
	<td>7</td>
	<td>Simon Lacroix</td>
	<td>Athénée Royal de Gembloux</td>
	<td>48</td>
</tr>
<tr>
	<td>8</td>
	<td>Pierre-Louis Peeters</td>
	<td>Institut de l'Assomption – Bruxelles</td>
	<td>48</td>
</tr>
<tr>
	<td>9</td>
	<td>Thibault Ceulemans</td>
	<td>Institut des Arts et Métiers, Pierrard – Virton</td>
	<td>44</td>
</tr>
<tr>
	<td>10</td>
	<td>Michel Patz</td>
	<td>Institut des Arts et Métiers, Pierrard – Virton</td>
	<td>44</td>
</tr>
<tr>
	<td>11</td>
	<td>Robert Vanden Eynde</td>
	<td>Lycée Émile Jacqmain – Bruxelles</td>
	<td>42</td>
</tr>
<tr>
	<td>12</td>
	<td>Gauvain Devillez</td>
	<td>Athénée Royal de Binche</td>
	<td>41</td>
</tr>
<tr>
	<td>13</td>
	<td>Alexandre Jenicot</td>
	<td>Institut des Arts et Métiers, Pierrard – Virton</td>
	<td>41</td>
</tr>
<tr>
	<td>14</td>
	<td>Christoffer Rehn</td>
	<td>École Européenne de Bruxelles II</td>
	<td>40</td>
</tr>
<tr>
	<td>15</td>
	<td>Anthony Gégo</td>
	<td>Institut Notre-Dame – Charleroi</td>
	<td>40</td>
</tr>
<tr>
	<td>16</td>
	<td>Nikita Marchant</td>
	<td>Athénée  Royal Jean Absil – Bruxelles</td>
	<td>40</td>
</tr>
<tr>
	<td>17</td>
	<td>Vincent Cattoir</td>
	<td>Collège Saint-Pierre - Uccle</td>
	<td>38</td>
</tr>
<tr>
	<td>18</td>
	<td>Benoît Mattheus</td>
	<td>Athénée Royal Air Pur – Seraing</td>
	<td>37</td>
</tr>
<tr>
	<td>19</td>
	<td>Maxime Henri</td>
	<td>Centre d'Enseignement Saint-Joseph – Chimay</td>
	<td>35</td>
</tr>
<tr>
	<td>20</td>
	<td>Alexis Clarembeau</td>
	<td>Athénée Royal François Bovesse – Namur</td>
	<td>35</td>
</tr>
<tr>
	<td>21</td>
	<td>Robin Caers</td>
	<td>Institut Sainte-Marie – Rèves</td>
	<td>34</td>
</tr>
<tr>
	<td>22</td>
	<td>Gauthier Feuillen</td>
	<td>Institut Notre Dame d'Arlon</td>
	<td>34</td>
</tr>
<tr>
	<td>23</td>
	<td>Maxime Istasse</td>
	<td>Sacré coeur de Godinne-Burnot</td>
	<td>33</td>
</tr>
<tr>
	<td>24</td>
	<td>Loïc Wenkin</td>
	<td>Institut des Arts et Métiers, Pierrard – Virton</td>
	<td>33</td>
</tr>
<tr>
	<td>25</td>
	<td>Vincent Gillardin</td>
	<td>Institut des Arts et Métiers, Pierrard – Virton</td>
	<td>32</td>
</tr>
<tr>
	<td>26</td>
	<td>Jean Lobet</td>
	<td>Institut provincial d'enseignement technique (I.P.E.T.) – Nivelles</td>
	<td>31</td>
</tr>
<tr>
	<td>27</td>
	<td>Martin Remy</td>
	<td>Institut provincial d'enseignement technique (I.P.E.T.) – Nivelles</td>
	<td>31</td>
</tr>
<tr>
	<td>28</td>
	<td>Morgan Moucheron</td>
	<td>Collège Saint Augustin – Enghien</td>
	<td>29</td>
</tr>
<tr>
	<td>29</td>
	<td>Guillaume Chomé</td>
	<td>Lycée Martin V – Louvain-la-Neuve</td>
	<td>29</td>
</tr>
<tr>
	<td>30</td>
	<td>Titouan Christophe</td>
	<td>Pédagogie Nomade – Limerlé</td>
	<td>29</td>
</tr>
<tr>
	<td>31</td>
	<td>Jordane Finfe</td>
	<td>Communauté Educative Saint-Jean-Baptiste – Tamines</td>
	<td>29</td>
</tr>
<tr>
	<td>32</td>
	<td>Xavier Streel</td>
	<td>Lycée Maria Assumpta – Laeken</td>
	<td>29</td>
</tr>
<tr>
	<td>33</td>
	<td>Olivier Van Cutsem</td>
	<td>Athénée Royal Air Pur – Seraing</td>
	<td>26</td>
</tr>
<tr>
	<td>34</td>
	<td>Sélim Teyar</td>
	<td>Institut Communal Technique Frans Fischer – Bruxelles</td>
	<td>25</td>
</tr>
<tr>
	<td>35</td>
	<td>Nicolas Cognaux</td>
	<td>Lycée Martin V – Louvain-la-Neuve</td>
	<td>25</td>
</tr>
<tr>
	<td>36</td>
	<td>Sami Mezhoud</td>
	<td>Athénée  Royal Jean Absil – Bruxelles</td>
	<td>25</td>
</tr>
<tr>
	<td>37</td>
	<td>Louis Geuten</td>
	<td>Institut Saint-Joseph – Libramont</td>
	<td>25</td>
</tr>
<tr>
	<td>38</td>
	<td>David Sarkozi</td>
	<td>Collège Notre-Dame de Basse-Wavre</td>
	<td>24</td>
</tr>
<tr>
	<td>39</td>
	<td>Thibaut Cuvelier</td>
	<td>Collège Saint-Barthélemy – Liège</td>
	<td>21</td>
</tr>
<tr>
	<td>40</td>
	<td>Paul De Buck</td>
	<td>Athénée Royal de Neufchateau-Bertrix</td>
	<td>19</td>
</tr>
<tr>
	<td>41</td>
	<td>Clément Tilquin</td>
	<td>Centre d'Enseignement Saint-Joseph – Chimay</td>
	<td>18</td>
</tr>
</table>


<img class="withframe" src="/static/pictures/2010/finale-banner.jpg" />


<h3>Categorie hoger onderwijs</h3>

<table>
<tr><th>Pos.</th><th>Naam</th><th>Instelling</th><th>Score</th></tr>

<tr>
	<td>1</td>
	<td>Kévin Moulart</td>
	<td>Haute Ecole Léonard de Vinci - Institut Paul Lambin (IPL)</td>
	<td>61</td>
</tr>
<tr>
	<td>2</td>
	<td>Martin Verjans</td>
	<td>Haute Ecole de la Ville de Liège</td>
	<td>57</td>
</tr>
<tr>
	<td>3</td>
	<td>Pierre Vyncke</td>
	<td>Université de Liège (ULg)</td>
	<td>56</td>
</tr>
<tr>
	<td>4</td>
	<td>Bruno Boi</td>
	<td>Haute Ecole Louvain en Hainaut (HELHa)</td>
	<td>55</td>
</tr>
<tr>
	<td>5</td>
	<td>Raphael Javaux</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>55</td>
</tr>
<tr>
	<td>6</td>
	<td>François Remy</td>
	<td>Université libre de Bruxelles (ULB)</td>
	<td>50</td>
</tr>
<tr>
	<td>7</td>
	<td>Michael Azzam</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>48</td>
</tr>
<tr>
	<td>8</td>
	<td>Maxime Anciaux</td>
	<td>Université de Liège (ULg)</td>
	<td>45</td>
</tr>
<tr>
	<td>9</td>
	<td>Guillaume Gobbe</td>
	<td>Haute Ecole Léonard de Vinci - Institut Paul Lambin (IPL)</td>
	<td>44</td>
</tr>
<tr>
	<td>10</td>
	<td>Cédric de Quirini</td>
	<td>EPHEC – Louvain-la-Neuve</td>
	<td>43</td>
</tr>
<tr>
	<td>11</td>
	<td>Thomas Van Gysegem</td>
	<td>Université de Liège (ULg)</td>
	<td>40</td>
</tr>
<tr>
	<td>12</td>
	<td>Quentin Stiévenart</td>
	<td>Université libre de Bruxelles (ULB)</td>
	<td>39</td>
</tr>
<tr>
	<td>13</td>
	<td>David Monjoie</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>37</td>
</tr>
<tr>
	<td>14</td>
	<td>Youness El Mouhafidi</td>
	<td>Université de Mons (UMons)</td>
	<td>36</td>
</tr>
<tr>
	<td>15</td>
	<td>Damien Mercier</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>36</td>
</tr>
<tr>
	<td>16</td>
	<td>Laurent Leleux</td>
	<td>Haute Ecole Léonard de Vinci - Institut Paul Lambin (IPL)</td>
	<td>35</td>
</tr>
<tr>
	<td>17</td>
	<td>Thomas Sokay</td>
	<td>Facultés Universitaires Notre-Dame de la Paix (FUNDP)</td>
	<td>35</td>
</tr>
<tr>
	<td>18</td>
	<td>Joris Van Hecke</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>35</td>
</tr>
<tr>
	<td>19</td>
	<td>Quentin Smetz</td>
	<td>Université de Liège (ULg)</td>
	<td>33</td>
</tr>
<tr>
	<td>20</td>
	<td>Benoit Daloze</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>32</td>
</tr>
<tr>
	<td>21</td>
	<td>Mohammad Iranmanesh</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>32</td>
</tr>
<tr>
	<td>22</td>
	<td>Thibault Sottiaux</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>31</td>
</tr>
<tr>
	<td>23</td>
	<td>Quentin Tawry</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>30</td>
</tr>
<tr>
	<td>24</td>
	<td>Benoit L'hoest</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>30</td>
</tr>
<tr>
	<td>25</td>
	<td>Olivier de Harenne</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>29</td>
</tr>
<tr>
	<td>26</td>
	<td>Gaspard Touwaide</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>25</td>
</tr>
<tr>
	<td>27</td>
	<td>Guessing Vondou</td>
	<td>Facultés Universitaires Notre-Dame de la Paix (FUNDP)</td>
	<td>24</td>
</tr>
<tr>
	<td>28</td>
	<td>Julien Rousselle</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>23</td>
</tr>
<tr>
	<td>29</td>
	<td>Julien Colmonts</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>23</td>
</tr>
<tr>
	<td>30</td>
	<td>Benjamin Brandt</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>23</td>
</tr>
<tr>
	<td>31</td>
	<td>Cédric Boverie</td>
	<td>Haute Ecole Libre Mosane (HELMo) – Saint-Laurent</td>
	<td>23</td>
</tr>
<tr>
	<td>32</td>
	<td>Miguel Gonzalez</td>
	<td>Université de Liège (ULg)</td>
	<td>22</td>
</tr>
<tr>
	<td>33</td>
	<td>Jean-Benoît Hubert</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>22</td>
</tr>
<tr>
	<td>34</td>
	<td>Arnaud Ralet</td>
	<td>Haute Ecole de la Ville de Liège</td>
	<td>21</td>
</tr>
<tr>
	<td>35</td>
	<td>Jacques Michiels</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>20</td>
</tr>
<tr>
	<td>36</td>
	<td>Adrien Collignon</td>
	<td>Haute Ecole Robert Schuman (HERS)</td>
	<td>20</td>
</tr>
<tr>
	<td>37</td>
	<td>Thomas Herpoel</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>19</td>
</tr>
<tr>
	<td>38</td>
	<td>Jérôme Balon</td>
	<td>Haute Ecole Robert Schuman (HERS)</td>
	<td>18</td>
</tr>
<tr>
	<td>39</td>
	<td>Florent Klein</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>17</td>
</tr>
<tr>
	<td>40</td>
	<td>Jérôme Martin</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>16</td>
</tr>
<tr>
	<td>41</td>
	<td>Quentin Cappart</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>14</td>
</tr>
<tr>
	<td>42</td>
	<td>Martin Geubelle</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>14</td>
</tr>
<tr>
	<td>43</td>
	<td>Benoît Opsomer</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>13</td>
</tr>
<tr>
	<td>44</td>
	<td>Michaël Bongartz</td>
	<td>Haute Ecole de la Province de Liège (HEPL)</td>
	<td>13</td>
</tr>
<tr>
	<td>45</td>
	<td>Nicolas Marucci</td>
	<td>Institut Supérieur des Aumôniers du Travail (ISAT)</td>
	<td>12</td>
</tr>
<tr>
	<td>46</td>
	<td>Youri Tolstoy</td>
	<td>Université catholique de Louvain (UCL)</td>
	<td>12</td>
</tr>
</table>

<p><img src="/static/pictures/2010/oi2010-papier.jpg" width="300" height="200" alt="Finale van de OI 2010, proef op papier" title="Finale van de OI 2010, proef op papier" class="withframe" />&nbsp;<img src="/static/pictures/2010/oi2010-machine.jpg" width="300" height="200" alt="Finale van de OI 2010, proef aan de computer" title="Finale van de OI 2010, proef aan de computer" class="withframe" /></p>



{% endblock %}
