{% extends "nl/base.html" %}

{% block content%}
<h2>Belgische delegatie voor de IOI 2010</h2>



<p><img src="/static/pictures/2010/ioi2010-delegation.jpg" width="250" height="166" class="withframe float-right" alt="Belgische delegatie op de International Olympiad in Informatics" title="Belgische delegatie op de International Olympiad in Informatics" />Van 14 tot 21 augustus 2010 vond de 22ste International Olympiad in Informatics (IOI) plaats. Voor de tweede keer in de geschiedenis, en de eerste keer in meer dan 10 jaar, was België vertegenwoordigd op deze grote wedstrijd waar niet minder dan 83 landen hun beste kandidaten naartoe sturen. De wedstrijd vond plaats in Waterloo, Canada.</p>

<p class="center"><img src="/static/images/IOI-2010-logo.png" /></p>

<p>Helaas konden we in 2010 niet terugkeren van de IOI met een medaille, maar er waren wel talrijke mooie herinneringen, we legden vele internationale contacten en we deden er heel wat ervaring op, die we zeker zullen kunnen meenemen naar volgende deelnames toe.</p>

<p>Hier zijn de resultaten van de Belgische delegatie, op een totaal van 293 deelnemers :</p>

<ul>
	<li>194e - Benoît Legat</li>
	<li>224e - Charles Hubain</li>
	<li>231e - Guillaume Derval</li>
	<li>248e - Joseph Lange</li>
</ul>

<p>De scores ogen op het eerste zicht niet spectaculair, maar vele landen hebben ons gefeliciteerd met ons resultaat, dat erg goed was voor de eerste deelname van een &laquo; klein &raquo; land. U kunt meer informatie over de scores en de opgaves vinden op <a href="http://www.ioi2010.org">de website van de IOI</a>.</p>

<img class="withframe" src="/static/pictures/2010/ioi2010-ambiance.jpg" alt="image post" width="680" height"308" />

<h4>Met de steun van de Franse Gemeenschap van België</h4>

<p class="center"><img src="/static/images/cfwb-logo.jpg" alt="Met de steun van de Franse Gemeenschap van België" title="Met de steun van de Franse Gemeenschap van België" /><p>

{% endblock %}
