{% extends "base.html" %}

{% block content%}
<h2>Belgische delegatie voor de IOI 2010</h2>

<div style="color: red;">
<div class="float-right">
	<img src="/static/pictures/2010/ioi2010-delegation.jpg" width="250" height="166" alt="La délégation belge aux Olympiades Internationales d'Informatique" title="La délégation belge aux Olympiades Internationales d'Informatique" class="withframe" />
</div>

<p>Du 14 au 21 aout 2010 avaient lieu les 22èmes Olympiades Internationales d'Informatique (IOI). Pour la seconde fois de son histoire et la première fois depuis plus de dix ans, la Belgique était représentée à cette grande compétition où pas moins de 83 pays envoient leurs meilleurs candidats. La compétition se déroulait cette année à Waterloo, au Canada.</p>

<p class="center"><img src="/static/images/IOI-2010-logo.png" /></p>

<p>Malheureusement, nous ne sommes revenus cette année des IOI avec aucune médaille, mais nous sommes revenus avec de nombreuses belles images, de nombreux contacts et une excellente expérience que nous ne manquerons pas à mettre à profit lors de notre prochaine participation.</p>

<p>Voici le classement obtenus par la délégation belge, sur un total de 293 participants :</p>

<ul>
	<li>194ème - Benoît Legat</li>
	<li>224ème - Charles Hubain</li>
	<li>231ème - Guillaume Derval</li>
	<li>248ème - Joseph Lange</li>
</ul>

<p>Bien que ces scores puissent paraître très moyens pour certains, de nombreux pays nous ont félicité pour notre résultat qui est en fait très bon pour une première participation et pour un &laquo; petit &raquo; pays. Vous trouverez plus de détails sur ces scores et les épreuves rencontrées sur <a href="http://www.ioi2010.org">le site web des IOI</a>.</p>

<img class="withframe" src="/static/pictures/2010/ioi2010-ambiance.jpg" alt="image post" width="700" height"308" />

<h4>Avec le soutien de la Communauté Française de Belgique</h4>

<p class="center"><img src="/static/images/cfwb-logo.jpg" alt="avec le soutien de la Communauté Française de Belgique" title="avec le soutien de la Communauté Française de Belgique" /><p>
</div>

{% endblock %}
