{% extends "fr/base.html" %}

{% block content%}
<h2>Archives</h2>

<p><img class="withframe float-right" src="/static/pictures/2011/benoit-legat-archive.jpg" width="298" height="212" alt="Benoit Legat's bronze medal" title="Benoit Legat's bronze medal" />Depuis cette page, vous pouvez avoir accès aux archives des précédentes éditions de l'Olympiade belge d'Informatique. Vous y trouverez les classements et quelques statistiques pour les épreuves de demi-finale et de finale du concours national, ainsi qu'un compte-rendu de la participation belge à l'Olympiade Internationale.</p>

<p>Depuis 2010, l'Olympiade belge d'Informatique (be-OI) est un concours national de programmation, d'algorithmique et de logique destiné aux élèves du secondaire et permettant de sélectionner les élèves qui feront partie de la délégation belge à l'Olympiade Internationale d'Informatique.</p>

<ul>
	<li><a href="{% url archive-2011-fr %}">2011</a></li>
	<li><a href="{% url archive-2010-fr %}">2010</a></li>
</ul>

{% endblock %}
