{% extends "fr/base.html" %}

{% block content%}
<h2>***New*** : Bebras contest</h2>

<p>Maybe you have a talent for informatics but you don't know it? You can participate with your entire class in the Beaver competition to find out!</p>

<h4>What, where?</h4>
<p>The Beaver competition is an international competition where you have to solve puzzles and logical problems. The competition is <em>classical</em> and is done during or after school hours under guidance of the informatics teacher.</p>

<p>In entire Europe, annually about 150000 schoolkids participate. There is <em>no prior knowledge</em> of informatics required. The test fits neatly in 1 school lesson-hour. It is entirely independent of the Informatics Olympiad.</p>

<p>For more information, registration and participation, share the link <a href="https://fisheye.ugent.be/torcas/" target="_blank"> https://fisheye.ugent.be/torcas/ </a> with your informatics teacher.</p>

<h4>When?</h4>
<p>
In 2012 we offer this competition for the first time in <em>test phase</em> in Belgium . For this end, a new webapplication was specially developed by the University of Ghent, called "Torcas". Through this webapplication classes can be registered and the competition can be run. An internet connection is thus required. </p>

<p>We hope to start in january 2012, so the Beaver competition forms a nice onramp for the Belgian Informatics Olympiad.</p>

<h4>Results</h4>
<p>Because we organize the Beaver competition in test phase this year, we do not follow the calendar of the international Beaver week. The results of the Belgian Beaver competition 2012 will thus not be compareable to the results abroad. We're considering to make a Belgian ranking, but this will depend on the course of the competition.</p>

<h4>How to participate?</h4>
<p>Your informatics teachter must first register your class through the online webapplication, which is available at <a href="https://fisheye.ugent.be/torcas/" target="_blank"> https://fisheye.ugent.be/torcas/ </a>. He/she will receive a unique login and password for every participant. If your class is ready to start the competition, these will be distributed and you can login.</p>

<p>Of course the test can only be made once. The goal is for your entire class to make the test at the same time in a computer classroom. After the test, you will get immediate feedback about your results. </p>

{% endblock %}
