{% extends "fr/base.html" %}

{% block content%}
<h2>Calendrier</h2>

<p>Le calendrier officiel suivant reprend les dates clés des Olympiades d'Informatiques belges 2012.</p>

<dl>
	<dt>29 janvier 2012</dt>
	<dd><p>Date limite pour les inscriptions.</p></dd>

	<dt>1e février 2012</dt>
	<dd><p>Demi-finale dans les centres régionaux.</p></dd>

	<dt>20-24 février 2012</dt>
	<dd><p>Formation algorithmique (optionnelle) de 2 jours durant les vacances de Carnaval (dates exactes à préciser).</p></dd>

	<dt>14 mars 2012</dt>
	<dd><p>Finale.</p></dd>

	{# <dt>2 avril 2012, 11h</dt> #}
	{# <dd><p>Proclamation et cérémonie de remise des prix à Louvain-la-Neuve.</p></dd> #}

	<dt>2-13 avril 2012</dt>
	<dd><p>Formation algorithmique approfondie pour les candidats du pool IOI (dates à préciser).</p></dd>

	<dt>?-? septembre 2012</dt>
	<dd><p>24<sup>iemes</sup> Olympiade Internationale d'Informatique (IOI) dans le nord de l'Italie ({{ "http://www.ioi2012.org/"|urlize }}).</p></dd>
</dl>

{% endblock %}
