{% extends "base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" alt="firefox" class="withframe float-right" /></h2>

<p>La finale se déroulrae le mercredi 30 mars 2011 et commencera à 14h dans les différents <a href="{% url regional-centers-fr %}">centre régionaux</a> du pays.
	
<p>Quelques indications sur le type des questions auxquelles vous pourriez être confrontés durant la demi-finale sont reprises dans le règlement ci-dessous. N'hésitez pas non plus à consulter <a href="{% url sample-questions-fr %}">les questions de l'année passée</a>.</p>

<h3>Règlement de l'épreuve</h3>

<ol>
	<li>.</li>
	<li></li>
</ol>


{% endblock %}
