{% extends "fr/base.html" %}

{% block content%}
<h2>Finale<img src="/static/pictures/2010/oi2010-machine.jpg" width="350" height="231" class="withframe float-right" /></h2>


<p><img src="/static/pictures/2010/oi2010-sec-cat.jpg" width="200" height="156" class="withframe float-right" alt="Les trois lauréats de la catégorie secondaire de la finale OI 2010" title="Les trois lauréats de la catégorie secondaire de la finale OI 2010" />Ce sont 38 élèves du secondaire et 54 du supérieur qui ont participé à la finale des Olympiades belges d'Informatique qui a eu lieu le mercredi 30 mars 2011 à Louvain-la-Neuve. Le classement complet des finalistes est repris sur cette page, pour chacun des concours. La finale consistait en une épreuve sur papier et une épreuve sur machine. Vous pouvez télécharger les questions des deux concours :</p>

<ul>
	<li>Catégorie secondaire : <a href="/static/downloads/OI-2011-final-sec-paper-fr.pdf">partie papier</a> et <a href="/static/downloads/OI-2011-final-sec-comp-fr.pdf">partie machine</a> ;</li>
	<li>Catégorie supérieur : <a href="/static/downloads/OI-2011-final-high-paper-fr.pdf">partie papier</a> et <a href="/static/downloads/OI-2011-final-high-comp-fr.pdf">partie machine</a>.</li>
</ul>

<p>Près de 5000&nbsp;&euro; de prix ont été distribués aux meilleurs finalistes des deux concours. Ces derniers étaient offerts par IBM, Dell, Redcorp, Eyrolles, Plantyn et IRIS. Parmi les prix, on retrouve notamment un Parrot AR Drone, un iPod Touch, un HP Mini Note, un Dell Latitude, un HTC Desire, un IRIS Scan et un IRIS Pen.</p>

<p>Enfin, 10 candidats, 5 francophones et 5 néerlandophones, du concours pour les secondaires ont été sélectionnés pour faire partie du pool d'entrainement ayant comme objectif la formation de la délégation belge aux les Olympiades Internationales d'Informatique qui sont dérouleront en Thaïlande cette année.</p>


<h3>Catégorie secondaire</h3>

<img class="withframe" src="/static/pictures/2010/finale-banner.jpg" />

<table>
<tr><th>Pos.</th><th>Nom</th><th>Etablissement</th><th>Pap.</th><th>Mach.</th><th>Tot.</th></tr>
<tr>
	{% for finalist in object_list %}
	{% if finalist.contestant.contest_category == 0 %}
	<td>{{ finalist.rank }}</td>
	<td>{{finalist.contestant.surname}} {{finalist.contestant.firstname}}</td>
	<td>{{ finalist.contestant.school.name }}, {{ finalist.contestant.school.city }} &mdash; {{ finalist.contestant.year_study }}e</td>
	<td>{{ finalist.score_written }}</td>
	<td>{{ finalist.score_computer }}</td>
	<td>{{ finalist.total }}</td>
</tr>
	{% endif %}
	{% endfor %}
</table>




<h3>Catégorie supérieur</h3>

<img class="withframe" src="/static/pictures/2010/finale-banner.jpg" />


<table>
<tr><th>Pos.</th><th>Nom</th><th>Etablissement</th><th>Pap.</th><th>Mach.</th><th>Tot.</th></tr>
<tr>
	{% for finalist in object_list %}
	{% if finalist.contestant.contest_category == 1 %}
	<td>{{ finalist.rank }}</td>
	<td>{{finalist.contestant.surname}} {{finalist.contestant.firstname}}</td>
	<td>{{ finalist.contestant.school.name }}, {{ finalist.contestant.school.city }}</td>
	<td>{{ finalist.score_written }}</td>
	<td>{{ finalist.score_computer }}</td>
	<td>{{ finalist.total }}</td>
</tr>
	{% endif %}
	{% endfor %}
</table>

<p><img src="/static/pictures/2010/oi2010-papier.jpg" width="300" height="200" alt="Épreuve papier de la finale des OI 2010" title="Épreuve papier de la finale des OI 2010" class="withframe" />&nbsp;<img src="/static/pictures/2010/oi2010-machine.jpg" width="300" height="200" alt="Épreuve machine de la finale des OI 2010" title="Épreuve machine de la finale des OI 2010" class="withframe" /></p>

{% endblock %}
