{% extends "fr/base.html" %}

{% block content%}

<img class="withframe" src="/static/pictures/2011/banner.jpg" alt="image post" width="680" height="203" />

<p>Les Olympiades belges d'Informatique (OI) sont une compétition de programmation, d'algorithmique et de logique composée de deux concours. Le premier est destiné aux élèves en secondaire et permettra d'identifier des candidats pour les Olympiades Internationales d'Informatique (IOI). Le second concours est destiné aux étudiants en première année d'études supérieures.</p>

<h3>Dernières news</h3>

    {% for entry in object_list %}

	<div class="post">
		<div class="right">
				<h4>{{ entry.title }}</h4>
			{{ entry.body|safe }}
		</div>
		
		<div class="left">
			<p class="dateinfo">{{ entry.publication_date|date:"M" }}<span>{{ entry.publication_date|date:"d" }}</span></p>

			<div class="post-meta">
					<ul>
						<li class="user">{% if entry.author.first_name %}{{ entry.author.first_name }} {{ entry.author.last_name }}{% else %}{{ entry.author }}{% endif %}</li>
						<li class="time">{{ entry.publication_date|date:"H:i" }}</li>
					</ul>
			</div>
		</div>
	</div>
    {% endfor %}

{% if paginator.num_pages > 1 %}
	<p>[ pages: 
	{% for page in paginator.page_range %}
		{% if page != page_obj.number %} 
		<a href="{% url home-fr page=page %}">{{page}}</a> 
		{% else%} 
		<strong>{{page}}</strong>
		{% endif %}
	{% endfor %}
	]</p>
{% endif %}

{% endblock %}
