{% extends "fr/base.html" %}

{% block content%}

<h2>Olympiade Internationale d'Informatique 2012</h2>

<p>L'<b>Olympiade Internationale d'Informatique</b> (IOI) est une compétition internationale de programmation pour élèves du secondaire qui a lieu chaque année dans un pays différent. Elle s'est déroulée en Thaïlande l'année dernière et se déroulera en <a href="http://www.ioi2012.org/" target="_blank">Italie en 2012</a>. Plus de 80 pays y sont représentés par leurs équipes nationales. L'IOI est l'une des huit disciplines scientifiques internationales reconnues avec les mathématiques, la biologie, la chimie, la physique, la géographie, l'astronomie et la linguistique. La Belgique a participé aux Olympiades Internationales en 1992, <a href="{% url archives-2010-ioi LANGUAGE_CODE %}">2010</a> et <a href="{% url archives-2011-ioi LANGUAGE_CODE %}">2011</a>, édition durant laquelle une médaille de bronze a été rapportée.</p>

<p>Les participants à l'Olympiade Internationale seront sélectionnés à partir d'un pool d'entrainement qui sera constitué à la suite de la finale.</p>

{# <p>Au terme de la <a href="{% url final LANGUAGE_CODE %}">finale</a> des olympiades belges 2011, 10 candidats (5 francophones et 5 néerlandophones) ont été sélectionnés pour faire partie du <b>pool belge d'entrainement</b> aux IOI. Ces participants vont recevoir une formation intensive d'une semaine durant la seconde semaine des congés de Pâques (du 18 avril au 22 avril 2011). Au terme de cette formation sera organisé un test et quatre candidats seront sélectionnés (2 francophones et 2 néerlandophones) afin de faire partie de la délégation belge qui sera envoyée en Thaïlande pour tenter de décrocher une ou plusieurs médailles, du 22 au 29 juillet 2011.</p> #}

{% endblock %}

