{% extends "fr/base.html" %}

{% block content%}

<h2>Olympiades Internationales d'Informatique 2011</h2>

<p>Les <b>Olympiades Internationales d'Informatique</b> (IOI) sont une compétition internationale de programmation pour élèves du secondaire qui a lieu chaque année dans un pays différent. Elles se sont déroulées au Canada l'année dernière et se dérouleront en Thaïlande en 2011. Plus de 80 pays y sont représentés par leurs équipes nationales. Les IOI sont une des huit disciplines scientifiques internationales reconnues avec les mathématiques, la biologie, la chimie, la physique, la géographie, l'astronomie et la linguistique. La Belgique a <a href="{% url 2010-ioi-belgian-delegation-fr %}">participé aux Olympiades Internationales en 2010</a>, il s'agissait là de sa première participation depuis 1992.</p>

<p style="text-align: center;"><img src="/static/logos/ioi2011.jpg" /></p>

<p>Au terme de la <a href="{% url final-fr %}">finale</a> des olympiades belges 2011, 10 candidats (5 francophones et 5 néerlandophones) ont été sélectionnés pour faire partie du <b>pool belge d'entrainement</b> aux IOI. Ces participants vont recevoir une formation intensive d'une semaine durant la seconde semaine des congés de Pâques (du 18 avril au 22 avril 2011). Au terme de cette formation sera organisé un test et quatre candidats seront sélectionnés (2 francophones et 2 néerlandophones) afin de faire partie de la délégation belge qui sera envoyée en Thaïlande pour tenter de décrocher une ou plusieurs médailles, du 22 au 29 juillet 2011.</p>

<p>Les candidats sélectionnés pour le pool d'entrainement sont, dans l'ordre alphabétique :</p>

<ul>
	<li>Pool-FR : Alexis Clarembeau, Guillaume Derval, Victor Lecomte, Benoît Legat et Jérémy Salerno.</li>
	<li>Pool-NL : Laurens Dewaele, Floris Kint, Oswald Maskens, Tomas Mertens et Jonathan Oostvogels.</li>
</ul>

{% endblock %}

