{% extends "fr/base.html" %}

{% block content%}
<h2>Règlement</h2>

<ol>
	<li>Les Olympiades d'Informatique (OI) sont une compétition de programmation, d'algorithmique et de logique organisée par des Universités et Hautes-Écoles de Belgique dispensant des formations en informatique.</li>

	<li>Les OI sont coordonnées par un comité de coordination (CCOI) composé de membres des corps enseignants d'Universités et Hautes-Écoles de Belgique. Le CCOI est chargé de gérer tous les aspects liés au concours.</li>
	
	<li>En s'inscrivant aux OI, les candidats acceptent intégralement le présent règlement.</li>

	<li>Les langues officielles des OI sont le français et le néerlandais. Les participants doivent choisir la langue (français ou néerlandais) dans laquelle ils souhaitent concourir.</li>

	<li>Les candidats doivent être inscrits dans un établissement scolaire établi en Belgique au cours de l'année scolaire durant laquelle prennent place les OI, ou avoir la nationalité belge. Les candidats doivent avoir moins de 25 ans au 1<sup>er</sup> mai de l'année au cours de laquelle ont lieu les OI.</li>

	<li>Le concours est exclusivement destiné à des élèves étant inscrits en secondaire général, technique ou professionnel du réseau officiel ou libre. Une preuve d'inscription peut être demandée aux participants par les organisateurs des OI.</li>

	<li>Les questions sont préparées par le CCOI. La demi-finale se déroule intégralement sur papier. La finale comportera deux types de questions :

			<ol>
				<li>Le premier type de questions correspond à des exercices à résoudre sur papier. Les réponses peuvent être données en pseudo-code ou dans un des langages de programmation officiellement autorisés.</li>
     			
				<li>Le second type de questions correspond à des exercices à résoudre sur ordinateur sous forme d'un programme écrit dans un des langages de programmation officiellement autorisés.</li>
			</ol>
			
			Les langages de programmation officiellement autorisés sont Java, C, C++, Pascal, Python et PHP.</li>
     	
     	<li>Le CCOI constitue un jury chargé de corriger les réponses des candidats, d'établir le classement des candidats et de désigner les lauréats.</li>

		<li>Les OI sont organisées en deux étapes : une demi-finale et une finale. Les dates de ces étapes sont fixées par le CCOI et indiquées dans le calendrier. Les dispositions pratiques et règles de ces deux étapes sont reprises dans des règlements dédiés.</li>

		<li>Au maximum 60 finalistes parmi les candidats de la demi-finale ayant obtenu les meilleurs scores sont sélectionnés pour la finale, tout centres régionaux confondus.</li>

		<li>Les lauréats de la finale recevront des prix.</li>

		<li>Au minimum six participants du concours (trois francophones et trois néerlandophones) choisis parmi les finalistes par le comité se verront proposer de faire partie du pool d'élèves à partir duquel seront choisis les participants à l'équipe nationale pour les Olympiades Internationales d'Informatique (IOI). Ceux-ci doivent entrer dans les critères des IOI, ce qui inclus entre autre d'avoir moins de 20 ans au 1<sup>er</sup> juillet de l'année des IOI et d'avoir la nationalité belge ou, pour les étrangers avec permis de séjour, d'être inscrit dans une école secondaire belge. Le nombre de finalistes sélectionnés est fixé par le CCOI.</li>

		<li>Un candidat renonçant à sa participation au pool IOI pourra être remplacé par un autre finaliste; la décision revenant au CCOI.</li>

		<li>Tout point non prévu par le présent règlement sera tranché par le CCOI. Les décisions du CCOI sont sans appel.</li>
     </ol>

{% endblock %}
