{% extends "fr/base.html" %}

{% block content%}
<h2>Demi-finales<img src="/static/pictures/2010/oi2010-finals-sheet.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>Les demi-finales des Olympiades belges d'Informatique 2011 se sont déroulées le mercredi 16 février 2011 dans les différents <a href="{% url regional-centers-fr %}">centres régionaux</a> du pays. La demi-finale <em>secondaire</em> comptait 105 participants parmi lesquels 49 ont été sélectionnés pour la finale. La catégorie <em>supérieur</em> comptait 147 participants parmi lesquels 60 ont été sélectionnés. </p>

<p>Les questionnaires de ces demi-finales sont téléchargeables <a href="/static/downloads/OI-2011-demi-finale-secondaire-fr.pdf">ici pour la catégorie <em>secondaire</em></a> et <a href="/static/downloads/OI-2011-demi-finale-superieur-fr.pdf">ici pour la catégorie <em>supérieur</em></a>.
		
<h3>Résultats</h3>
	
<p>Le score est donné sur 100 points. Grace à quelques sous-questions <em>bonus</em>, il était possible d'obtenir plus de 100 points pour les meilleurs.</p>

<h4>Catégorie <em>secondaire</em></h4>
<p>Les 5 meilleurs scores de cette catégorie sont:</p>

<ol>
	<li><strong>Legat Benoît</strong> - Lycée Martin V, Louvain-la-Neuve - 6e secondaire - <em>112pt</em></li>
	<li><strong>Oostvogels Jonathan</strong> - Vita et Pax college, Schoten - 4e secondaire - <em>101pt</em></li>
	<li><strong>Meynaert Nathan</strong> - Collège Saint Barthélemy, Liège - 4e secondaire - <em>101pt</em></li>
	<li><strong>Jungers Thomas</strong> - Collège Notre-Dame du Bonlieu, Virton - 6e secondaire - <em>94pt</em></li>
	<li><strong>Mezhoud Sami</strong> - Athénée Royal Jean Absil, Bruxelles - 6e secondaire - <em>94pt</em></li>
</ol>		

<p>Vous retrouvez tous les autres sélectionnés pour la finale sur <a href="{% url semifinal-sec-fr %}">cette page</a>.</p>	

<h4>Catégorie <em>supérieur</em></h4>
<p>Les 5 meilleurs scores de cette catégorie sont:</p>
	
<ol>
	<li><strong>Van Gysegem Thomas</strong> - Haute Ecole de la Province de Liège (HEPL) - INPRES - <em>98pt</em></li>
	<li><strong>Lange Joseph</strong> - Université catholique de Louvain (UCL) - <em>94pt</em></li>
	<li><strong>Marion Aurélien</strong> - Université libre de Bruxelles (ULB) , Bruxelles - <em>94pt</em></li>
	<li><strong>George Quentin</strong> - Université catholique de Louvain (UCL) - <em>91pt</em></li>
	<li><strong>Chatelain Julie</strong> - Haute Ecole Libre Mosane (HELMo) Saint-Laurent - <em>88pt</em></li>
</ol>		

<p>Vous retrouvez tous les autres sélectionnés pour la finale sur <a href="{% url semifinal-high-fr %}">cette page</a>.</p>	

<h3>Statistiques</h3>
	
<p>Bientôt disponibles</p>
		
{% endblock %}
