{% extends "fr/base.html" %}

{% block content%}
<h2>Demi-finale<img src="/static/pictures/2010/oi2010-finals-sheet.jpg" width="350" height="231" class="withframe float-right" /></h2>

<p>La demi-finale se déroule le mercredi 16 février 2011 et commencera à 14h dans les différents <a href="{% url regional-centers-fr %}">centres régionaux</a> du pays.
	
<p>Quelques indications sur les types de questions auxquels vous pourriez être confrontés durant la demi-finale sont reprises dans le règlement ci-dessous. N'hésitez pas non plus à consulter <a href="{% url sample-questions-fr %}">les questions de l'année passée</a>.</p>

<h3>Règlement de l'épreuve</h3>

<ol>
	<li>La demi-finale est composée de deux concours distincts, le premier pour les élèves du secondaire et le second pour  les étudiants en première année du supérieur. Chacune de ces catégories aura un questionnaire distinct.</li>
	
	<li>L'épreuve se déroule uniquement sur papier et dure trois heures au maximum. Les participants ne doivent se munir que de quoi écrire; des feuilles de brouillon leurs seront fournies lors de l'épreuve. L'utilisation de GSM, calculatrices ainsi que tout autre appareil électronique est interdite et conduira à une élimination directe.</li>
	
	<li>A des fins d'équité entre les participants des différents centres, les participants ne peuvent poser  aucune question de compréhension aux surveillants. Toute erreur dans l'énoncé est considérée comme faisant partie de  l'épreuve.</li>
	
	<li>Les participants ne peuvent quitter la salle d'examen tant qu'ils n'ont pas rendu leur copie.</li>
	
	<li>Le participant est tenu d'arriver au moins 15 minutes avant l'heure de début de l'épreuve au centre régional qu'il a choisi lors de son inscription. Tout retard de sa part sera retenu sur sa durée d'épreuve.</li>
	
	<li>La langue choisie lors de l'inscription déterminera la langue de l'énoncé, quel que soit le centre. Cependant, le participant doit savoir que les surveillants d'un centre ne sont pas tenus de parler une autre langue que la langue officielle du centre. Le participant veillera également à rappeler la langue de l'énoncé désiré.</li>
	
	<li>Les participants doivent indiquer leur nom, prénom et école uniquement sur la première page, dans le cadre prévu à cet effet. Pour toutes les autres pages, ils veilleront à ce que leurs réponses figurent dans les cadres dédiés.</li>
	
	<li>Les participants peuvent répondre aux questions en français, néerlandais, anglais, en pseudo-code ou dans un des langages de programmation autorisés : Java, C, C++, Pascal, Python et PHP. Il est interdit d'utiliser des fonctions provenant de quelque librairie non-standard que ce soit.</li>
	
	<li>Les types et thèmes des questions de l'épreuve de la catégorie secondaire sont les suivants&nbsp;:
		<ul>
			<li>QCM : lire et comprendre un petit algorithme et soit compléter un trou, soit indiquer ce que calcule l'algorithme ou enfin trouver une erreur&nbsp;;</li>
			<li>Trouver un algorithme pour résoudre un problème contextualisé&nbsp;;</li>
			<li>Donner un algorithme permettant de calculer la valeur d'une expression mathématique&nbsp;;</li>
			<li>Fournir un algorithme pour résoudre un problème nécessitant la manipulation d'un tableau.</li>
		</ul>
	</li>
	
	<li>Les types et thèmes des questions de l'épreuve de la catégorie supérieur sont les suivants&nbsp;:
	<ul>
			<li>QCM : lire et comprendre un petit algorithme et soit compléter un trou, soit indiquer ce que calcule l'algorithme ou enfin trouver une erreur&nbsp;;</li>
			<li>Lire, comprendre et faire une comparaison de différents algorithmes permettant de résoudre un même problème&nbsp;;</li>
			<li>Lire et comprendre ce que fait un algorithme compliqué, ensuite proposer une variante de l'algorithme soit pour le rendre plus performant, soit pour résoudre un problème plus général&nbsp;;</li>
			<li>Sur base d'une spécification précise d'un problème, comprendre le problème, trouver et définir un algorithme permettant de le résoudre&nbsp;;</li>
			<li>Sur base d'une structure de données expliquée et d'un problème énoncé, définir un algorithme qui résout ce problème.</li>
		</ul>
	</li>
</ol>

{% endblock %}
