{% extends "fr/base.html" %}

{% block content%}
<h2>Sponsors 2012</h2>

<p>
L'Olympiade belge d'Informatique n'est possible que grâce au soutien de nos sponsors. Si vous êtes intéressés à devenir sponsor ou à offrir un prix, consultez notre <a href="/static/downloads/OI-2012-sponsoring-fr.pdf">brochure de sponsoring</a> ou contactez-nous via <a href="mailto:sponsors@be-oi.be">sponsors@be-oi.be</a>.
</p>

<h3>Sponsor international Premium</h3>
<p><a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a></p>

<h3>Sponsor international Standard</h3>
<p><a href="http://www.ibbt.be" target="_blank"><img src="/static/logos/ibbt-logo.jpg" width="300"/></a></p>

<h3>Partenaires</h3>
<p>
<!--
<a href="http://www.editions-eyrolles.com/Theme/020000/informatique" target="_blank"><img src="/static/logos/eyrolles-logo.jpg" width="200" height="51" /></a>
-->
<a href="http://www.plantyn.com/wps/portal/{{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/plantyn-logo-FR.jpg" width="200" /></a>
<a href="http://www.lavenir.net/" target="_blank"><img src="/static/logos/lavenir-200.jpg" width="200" /></a>
<!--
<a href="http://www1.euro.dell.com/content/default.aspx?c=be&l={{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/dell-2011-logo.jpg" width="200" height="143" /></a>
<a href="http://www.redcorp.com/" target="_blank"><img src="/static/logos/redcorp-logo.jpg" width="200" height="51" /></a>
<a href="http://www.irislink.com/" target="_blank"><img src="/static/logos/iris-2011-logo.jpg" width="200" height="125" /></a>
-->
</p>


<!--
<h3>Soutien institutionnel</h3>

<p><a href="http://www.ond.vlaanderen.be/" target="_blank"><img src="/static/logos/vlaams-overheid-logo.png" width="350" height="103" /></a></p>
-->

<h2>Partenaires</h2>

<div class="logos">
		<img src="/static/logos/ua-logo.jpg" />
		<img src="/static/logos/ugent-logo.png" />
		<img src="/static/logos/umons-logo.png" />
		<img src="/static/logos/fundp-logo.png" />
		<img src="/static/logos/ucl-logo.png" />
		<img src="/static/logos/ulg-logo.png" />
		<img src="/static/logos/ulb-logo.png" />
		<img src="/static/logos/kul-logo.jpg" />
		<img src="/static/logos/vub-logo.jpg" />
		<img src="/static/logos/uhasselt-logo.png" />
		<img src="/static/logos/hers-logo.png" />
		<img src="/static/logos/acmsc-logo.png" />
		<img src="/static/logos/henam-logo.png" />
		<img src="/static/logos/hecfh-logo.png" />
		<img src="/static/logos/helb-prigogine-logo.png" />
		<img src="/static/logos/ephec-logo.png" />
		<img src="/static/logos/helha-logo.png" />
		<img src="/static/logos/vinci-logo.png" />
		<img src="/static/logos/helmo-logo.png" />
		<img src="/static/logos/hepl-logo.png" />
		<img src="/static/logos/hel-logo.png" />
		<img src="/static/logos/hephs-logo.png" />
		<img src="/static/logos/heph-condorcet-logo.png" />
		<img src="/static/logos/henam-logo.png" />
</div>


{% endblock %}
