{% extends "fr/base.html" %}

{% block content%}
<h2>Sponsors</h2>

<p>Vous désirez vous associez aux Olympiades belges d'Informatique en nous sponsorisant ? Pour cela, vous pouvez consulter <a href="/static/downloads/OI-2010-bilan.pdf">le bilan de l'édition 2010</a> et télécharger <a href="/static/downloads/OI-2011-Dossier-Sponsoring.pdf">le dossier de sponsoring 2011</a>. N'hésitez pas à nous contacter en envoyant un email à <a href="mailto:sponsors@be-oi.be">sponsors@be-oi.be</a>.</p>

<h3>Sponsor Premium</h3>
<p><a href="http://www.ibm.com/be/fr/" target="_blank"><img src="/static/logos/ibm_logo-large.jpg" width="350" height="136" /></a></p>

<h3>Prix offerts par</h3>
<a href="http://www.editions-eyrolles.com/Theme/020000/informatique" target="_blank"><img src="/static/logos/eyrolles-logo.jpg" width="200" height="51" /></a>
<a href="http://www.plantyn.com/wps/portal/{{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/plantyn-logo.jpg" width="200" height="106" /></a>
<a href="http://www1.euro.dell.com/content/default.aspx?c=be&l={{LANGUAGE_CODE}}" target="_blank"><img src="/static/logos/dell-2011-logo.jpg" width="200" height="143" /></a>
<a href="http://www.redcorp.com/" target="_blank"><img src="/static/logos/redcorp-logo.jpg" width="200" height="51" /></a>
<a href="http://www.irislink.com/" target="_blank"><img src="/static/logos/iris-2011-logo.jpg" width="200" height="125" /></a>


{% endblock %}
