{% extends "base.html" %}

{% block content%}
<h2>Équipe be-OI</h2>

<p>Les Olympiades d'Informatique sont organisées par des Universités et Hautes-Écoles de Belgique dispensant des formations en informatique. Le comité de coordination (CCOI) est en charge de gérer tous les aspects liés au concours. Le jury est chargé de gérer les aspects liés aux questions, à la correction et à l'établissement des classements. Ces entités sont décrites dans <a href="{% url regulations-fr %}">le règlement du concours.</a></p>

<h3>Comité</h3>

<ul>
	<li>Mohammed Benjelloun</li>
	<li>Sébastien Combéfis</li>
	<li>Bart Demoen</li>
	<li>Isabelle Dony</li>
	<li>Joachim Ganseman</li>
	<li>Gilles Geeraerts</li>
	<li>Fabian Gilson</li>
	<li>Stefan Langerman</li>
	<li>Stéphane Lens</li>
	<li>Damien Leroy</li>
	<li>Hadrien Mélot</li>
	<li>Bruno Quoitin</li>
	<li>Tom Van Custsem</li>
	<li>Wim van Hoof</li>
</ul>

<h3>Jury</h3>

<p>Le jury n'est pas encore constitué actuellement.</p>


<h3>Contact</h3>

<p>Toute question liée au concours peuvent être adressées par email à <a href="mailto:info@be-oi.be">info@be-oi.be</a>.</p>

{% endblock %}
