{% extends "fr/base.html" %}

{% block content%}
<h2>Équipe be-OI</h2>

<p>Les Olympiades d'Informatique sont organisées par des Universités et Hautes-Écoles de Belgique dispensant des formations en informatique. Le comité de coordination (CCOI) est en charge de gérer tous les aspects liés au concours. </p>

<h3>Comité</h3>

<ul>
	<li>Mohammed Benjelloun</li>
	<li>Sébastien Combéfis</li>
    <li>Kris Coolsaet</li>
	<li>Bart Demoen</li>
	<li>Joachim Ganseman</li>
	<li>Gilles Geeraerts</li>
	<li>Fabian Gilson</li>
	<li>Stéphane Lens</li>
	<li>Damien Leroy</li>
	<li>Hadrien Mélot</li>
    <li>Frank Neven</li>
	<li>Cédric Peeters</li>
	<li>Bruno Quoitin</li>
	<li>Tom Van Cutsem</li>
	<li>Stijn Vansummeren</li>
</ul>

<h3>Contact</h3>

<p>Toute question liée au concours peuvent être adressées par email à <a href="mailto:info@be-oi.be">info@be-oi.be</a>.</p>

{% endblock %}
