{% extends "fr/base.html" %}

{% block content%}
<h2>Formations</h2>

<p>La première formation aura lieu durant les vacances de Carnaval, les jeudi 10 mars 2011 et vendredi 11 mars 2011. La formation se déroulera en français à Louvain-la-Neuve et en néerlandais à Anvers.</p>

<p>La formation est ouverte à tous les élèves du secondaire ayant présenté la demi-finale des Olympiades. La participation à la formation est gratuite, les participants doivent se rendre sur place par leurs propres moyens et payer par eux-mêmes le lunch de midi.</p>

<p>Pour vous inscrire, c'est facile, il vous suffit d'envoyer un e-mail à <a href="mailto:sebastien.combefis@be-oi.be">sebastien.combefis@be-oi.be</a> en mentionnant votre prénom et votre nom.</p>


<h3>Détails pratiques</h3>

<p>La formation se déroule de 9h à 17h30. Le point de rendez-vous est fixé dans le Hall du bâtiment Sainte Barbe se situant Place Sainte Barbe (<a href="http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=2+Place+Sainte-Barbe,+Ottignies-Louvain-la-Neuve,+R%C3%A9gion+Wallonne&aq=0&sll=50.805935,4.432983&sspn=4.235592,7.591553&ie=UTF8&hq=&hnear=Place+Sainte-Barbe+2,+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+Wallonne&ll=50.668443,4.621682&spn=0.004148,0.007414&z=17" target="_blank">plan</a>). Au programme de la formation :</p>

<ul>
	<li>Introduction à la programmation avec Python</li>
	<li>Notions d'algorithmique</li>
	<li>Résolution de problèmes algorithmiques</li>
	<li>Résolution de problèmes sur machine</li>
</ul>

{% endblock %}
