{% extends "base.html" %}

{% block content%}

{% comment %}
	If it succeed to guess the language (from browser settings or from the latest choice on the site), 
	it displays the message in one language
	Otherwise, the message is displayed in both language
{% endcomment %}

{% if LANGUAGE_CODE != "fr" %}
<h2>Pagina niet gevonden</h2>
<p>De gevraagde pagina bestaat niet of is niet meer beschikbaar op dit adres. De beheerder van deze website werd op de hoogte gebracht van dit probleem.</p>
<p><a href="{% url home "nl" %}">&raquo; Terug naar de homepage</a></p>
{% endif %}

{% if LANGUAGE_CODE != "nl" %}
<h2>Page non trouvée</h2>
<p>La page demandée n'existe pas ou n'est plus disponible à cette adresse. L'administrateur a été informé de ce problème afin de le résoudre si nécessaire.</p>
<p><a href="{% url home "fr" %}">&raquo; Retour à la page d'accueil</a></p>
{% endif %}

{% endblock %}
