{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% trans "Belgian Olympiads in Informatics" %}{% endblock %}</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta http-equiv="Content-language" content="{{LANGUAGE_CODE}}" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
<link rel="alternate" type="application/rss+xml" href="{% url rss LANGUAGE_CODE %}" title="{% trans "RSS feed" %}">
{% if not debug %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20319365-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
jQuery.jQueryRandom = 0;
jQuery.extend(jQuery.expr[":"],
{
    random: function(a, i, m, r) {
        if (i == 0) {
            jQuery.jQueryRandom = Math.floor(Math.random() * r.length);
        };
        return i == jQuery.jQueryRandom;
    }
});
$(document).ready(function() {
	$('.fadein_support img:not(:random)').hide();
	setInterval(function(){
			$('.fadein_support img:visible').fadeOut(1000);
			$('.fadein_support img:hidden:random').fadeIn(1000);
		}, 
		5500
	);
});
</script>
</head>
<body>
	
<div id="header-wrap"><div id="header">
	<a name="top"></a>
	<img id="logo" src="/static/images/be-oi-logo-120px.png" />
	<h1 id="logo-text"><a href="{% url home LANGUAGE_CODE %}" >{% trans "Belgian Olympiads in Informatics" %}</a></h1>
	<p id="slogan">{% trans "Programming, algorithmic and logic" %}</p>
	<div id="lang">{% block langswitch %}{% endblock %}</div>
</div></div><!--/header-->

{# to insert block, code, js in the body #}
<!-- TEMPLATE {{ LANGUAGE_CODE|upper }} --> {# For test validation ! #}

<div id="content-wrap" class="clear" > <!-- content-outer -->
    <div id="content"> <!-- content -->

	    <div id="main"> <!-- main -->
		{% block content %}{% endblock %}
		</div> <!-- /main -->
      
		<div id="sidebar"> <!-- sidebar -->
			
			<div class="sidemenu">
				<h3>{% trans "Contest" %}</h3>
            	<ul>
					<li><a href="{% url home LANGUAGE_CODE %}">{% trans "News" %}</a></li>
					<li><a href="{% url agenda LANGUAGE_CODE %}">{% trans "Calendar" %} 2012</a></li>
					<li><a href="{% url rules LANGUAGE_CODE %}">{% trans "Rules" %}</a></li>
					<li><a href="{% url registration LANGUAGE_CODE %}">{% trans "Contest" %} 2012</a>
						<ul>
							{% if REGISTRATION_OPEN %}<li><a href="{% url registration LANGUAGE_CODE %}">{% trans "Registering" %}</a></li>{% endif %}
							<li><a href="{% url semifinal LANGUAGE_CODE %}">{% trans "Semifinal" %}</a></li>
							<li><a href="{% url training LANGUAGE_CODE %}">{% trans "Training" %}</a></li>
							<li><a href="{% url final LANGUAGE_CODE %}">{% trans "Final" %}</a></li>
							<li><a href="{% url ioi LANGUAGE_CODE %}">{% trans "International Olympiad" %}</a></li>
						</ul>
					</li>
					<li><a href="{% url sample-questions LANGUAGE_CODE %}">{% trans "Sample Questions" %}</a></li>
					<li><a href="{% url archives LANGUAGE_CODE %}">{% trans "Archives" %}</a>
						<ul>
							<li><a href="{% url archives-2010 LANGUAGE_CODE %}">2010</a>
							<li><a href="{% url archives-2011 LANGUAGE_CODE %}">2011</a>
						</ul>
					</li>
				</ul>
			</div>

			<div class="sidemenu">
				<h3>{% trans "Organisation" %}</h3>
            	<ul>
					<li><a href="{% url team LANGUAGE_CODE %}">{% trans "be-OI Team" %}</a></li>
					{# <li><a href="{% url sponsors LANGUAGE_CODE %}">{% trans "Sponsors & Partners" %}</a></li> #}
					<li><a href="{% url press LANGUAGE_CODE %}">{% trans "Press" %}</a></li>
				</ul>
			</div>
			
			{# <div class="sidemenu"> #}
			{# 				<h3>{% trans "Sponsors" %}</h3> #}
			{# 				<a href="http://www.ibm.com/be/{{LANGUAGE_CODE}}/" target="_blank"><img src="/static/logos/ibm_logo-200.jpg" width="200" height="77" /></a> #}
			{# 			</div>  #}
			
			{# <div class="sidemenu"> #}
			{# 				<h3>{% trans "Prizes offered by" %}</h3> #}
			{#             	<div class="fadein_prizes"> #}
			{# 					<div><a href="{{logo.1}}" target="_blank"><img src="/static/logos/{{logo.0}}" /></a></div> #}
			{# 				</div> #}
			{# 			</div> #}
			
			<div class="sidemenu">
				<h3>{% trans "With support from" %}</h3>
            	<div class="fadein_support">
					<img src="/static/logos/ua-logo.jpg" />
					<img src="/static/logos/henam-logo.png" />
					<img src="/static/logos/ugent-logo.png" />
					<img src="/static/logos/umons-logo.png" />
					<img src="/static/logos/fundp-logo.png" />
					<img src="/static/logos/hecfh-logo.png" />
					<img src="/static/logos/ucl-logo.png" />
					<img src="/static/logos/helb-prigogine-logo.png" />
					<img src="/static/logos/ulg-logo.png" />
					<img src="/static/logos/hers-logo.png" />
					<img src="/static/logos/kul-logo.jpg" />
					<img src="/static/logos/helha-logo.png" />
					<img src="/static/logos/vinci-logo.png" />
					<img src="/static/logos/ulb-logo.png" />
					<img src="/static/logos/helmo-logo.png" />
					<img src="/static/logos/uhasselt-logo.png" />
					<img src="/static/logos/hepl-logo.png" />
					<img src="/static/logos/vub-logo.jpg" />
					<img src="/static/logos/hel-logo.png" />
					<img src="/static/logos/hephs-logo.png" />
					<img src="/static/logos/heph-condorcet-logo.png" />
					<img src="/static/logos/henam-logo.png" />
				</div> 
			</div>
		</div>  <!-- /sidebar -->
	</div><!-- content -->
</div> <!-- /content-out -->

<div id="footer-outer" class="clear">
	<div id="footer-wrap">

		{# <div id="gallery" class="clear"> #}
		{# 	    </div> #}

		<div class="col-a">
			<h3>Contact</h3>
        	<p><strong>E-mail: </strong>info <emph>[at]</emph> be-oi.be</p>
			<h3>{% trans "Updates" %}</h3>
			<ul class="subscribe-stuff">
			 	<li>
					<a title="RSS" href="{% url rss LANGUAGE_CODE %}" rel="nofollow">
						<img alt="RSS" title="RSS" src="/static/images/social_rss.png" />
					</a>
				</li>
				<li>
					<a title="Twitter" href="http://twitter.com/beoi_{{ LANGUAGE_CODE }}" rel="nofollow">
						<img alt="Twitter" title="Twitter" src="/static/images/social_twitter.png" />
					</a>
				</li>
				<li>
					<a title="Facebook" href="http://www.facebook.com/group.php?gid=303863304852" rel="nofollow">
						<img alt="Facebook" title="Facebook" src="/static/images/social_facebook.png" />
					</a>
				</li>
			</ul>

			<div style="clear:left;"><p>{% trans "Stay up to date. Subscribe via" %}
				<a href="{% url rss LANGUAGE_CODE %}">RSS</a>, 
				<a href="http://twitter.com/beoi_{{ LANGUAGE_CODE }}">Twitter</a> {% trans "or" %} 
				<a href="http://www.facebook.com/group.php?gid=303863304852">Facebook</a></p>
			</div>
		</div>

		<div class="col-a">
			&nbsp;
		</div>

		<div class="col-a">
			<h3>{% trans "Archives" %} 2010</h3>
			<div class="footer-list">
				<ul>
					<li><a href="{% url archives-2010-semifinal LANGUAGE_CODE %}">{% trans "Semifinal" %}</a></li>
					<li><a href="{% url archives-2010-final LANGUAGE_CODE %}">{% trans "Final" %}</a></li>
					<li><a href="{% url archives-2010-ioi LANGUAGE_CODE %}">{% trans "International Olympiad" %}</a></li>
				</ul>
			</div>
		</div>

		<div class="col-b">
			<h3>{% trans "Archives" %} 2011</h3>
			<div class="footer-list">
				<ul>
					<li><a href="{% url archives-2011-semifinal LANGUAGE_CODE %}">{% trans "Semifinal" %}</a></li>
					<li><a href="{% url archives-2011-final LANGUAGE_CODE %}">{% trans "Final" %}</a></li>
					<li><a href="{% url archives-2011-ioi LANGUAGE_CODE %}">{% trans "International Olympiad" %}</a></li>
				</ul>
			</div>
		</div>

	</div>
</div> <!-- /footer-outer -->

<div id="footer-bottom">
    <p class="bottom-left">
		&copy; 2010-2011 <strong>be-OI</strong>&nbsp; &nbsp; &nbsp;
		<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> 
		by <a href="http://www.styleshout.com/">styleshout</a>
	</p>
	<p class="bottom-right">
		<a href="/">Home</a> |
		<a href="{% url home "fr" %}">Fr</a> |
		<a href="{% url home "nl" %}">Nl</a> |
		<a href="#top">Back to Top</a>
    </p>
</div> <!-- /footer-bottom -->

</body>
</html>