{# ---------------------------------------------------------------------------------------------------------------- #}
{#   The base template file #}
{#   This file should not contain any dynamic reference to the beoi application. #}
{#   (because it should be displayable even if the language is not yet determined, if there is an error, ...) #}
{# ---------------------------------------------------------------------------------------------------------------- #}
{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}Olympiades belges d'Informatique &mdash; Belgische Olympiades in de Informatica{% endblock %}</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta http-equiv="Content-language" content="{{LANGUAGE_CODE}}" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
{% block rss %}{% endblock %}
{% if not debug %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20319365-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</head>
<body {% if SWITCH_LANG %}onload="javascript:document.forms[0].language.value='{{SWITCH_LANG}}';document.forms[0].submit();"{% endif %} >
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" >
$(function(){
	$('.fadein img:gt(0)').hide();
	setInterval(function(){$('.fadein :first-child').fadeOut().next('img').fadeIn().end().appendTo('.fadein');}, 3000);
});
</script>



<!--header -->
<div id="header-wrap"><div id="header">

	<a name="top"></a>

	<img id="logo" src="/static/images/be-oi-logo-120px.png" />
	<h1 id="logo-text"><a href="{% block logo-link %}/{% endblock %}" >{% trans "Belgian Olympiads in Informatics" %}</a></h1>
	<p id="slogan">{% trans "Programming, algorithmic and logic" %}</p>
	{% if csrf_token %}
	<form id="lang" name="langtop" action="/i18n/setlang/" method="post"> {% csrf_token %}
		<input name="language" type="hidden" value="" />
		<input name="next" type="hidden" value="" />
		{% block langswitch %}{% endblock %}
	</form>
	{% endif %}


<!--/header-->
</div></div>

{# to insert block, code, js in the body #}
{% block inbody %}{% endblock%} 
	
<!-- content-outer -->
<div id="content-wrap" class="clear" >

    <!-- content -->
    <div id="content">

        <!-- main -->
	    <div id="main">

{% block content %}{% endblock %}
       <!-- /main -->
		</div>

      <!-- sidebar -->
		<div id="sidebar">
			{% if SIDE_MENU %}
			<div class="sidemenu">
				<h3>{% trans "Contest" %}</h3>
            <ul>
				{% for item in SIDE_MENU %}
					<li><a href="{{item.1}}">{{item.0}}</a>
						{% if item.2 %}
							<ul>
								{% for subitem in item.2 %}<li><a href="{{subitem.1}}">{{subitem.0}}</a>{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if ORGANISATION_MENU %}
			<div class="sidemenu">
				<h3>{% trans "Organisation" %}</h3>
            <ul>
				{% for item in ORGANISATION_MENU %}
					<li><a href="{{item.1}}">{{item.0}}</a>
						{% if item.2 %}
							<ul>
								{% for subitem in item.2 %}<li><a href="{{subitem.1}}">{{subitem.0}}</a>{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if SUPPORT %}
			<div class="sidemenu">
				<h3>{% trans "With support from" %}</h3>
            	<div class="fadein">
				{% for logo in SUPPORT %}
				<img src="/static/logos/{{logo}}" />
				{% endfor %}
				</div> 
			</div>
			{% endif %}

      <!-- /sidebar -->

		</div>

    <!-- content -->
	</div>

<!-- /content-out -->
</div>
		
<!-- footer-outer -->
<div id="footer-outer" class="clear"><div id="footer-wrap">

	<div id="gallery" class="clear">

<!--		<h3>Flickr Photos </h3> -->


    </div>

	<div class="col-a">

		<h3>Contact</h3>

        <p><strong>E-mail: </strong>info@be-oi.be</p>

		{% block bottom_updates %}{% endblock%}

	</div>

	<div class="col-a">
		&nbsp;
	</div>

   <div class="col-a">
		<h3>{% trans "Flickr Photos" %}</h3>

		   <div class="footer-list">
				<ul>
					{% for item in PHOTOS_MENU %}
						<li><a href="{{item.1}}">{{item.0}}</a>
					{% endfor %}
				</ul>
			</div>
   </div>

   <div class="col-b">

      <h3>{% trans "Archives" %}</h3>

	   <div class="footer-list">
			<ul>
				{% for item in ARCHIVES_MENU %}
					<li><a href="{{item.1}}">{{item.0}}</a>
				{% endfor %}
			</ul>
		</div>
	</div>

<!-- /footer-outer -->
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

    <p class="bottom-left">
		&copy; 2010 <strong>be-OI</strong>&nbsp; &nbsp; &nbsp;
		<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>

	 </p>

	 <p class="bottom-right">
		<a href="/">Home</a> |
		{% block bottom_links %}{% endblock%}
      <strong><a href="#top">Back to Top</a></strong>
    </p>

<!-- /footer-bottom-->
</div>

</body>
</html>