<div id="popup" class="popup_block">
	<form name="formlang" action="/i18n/setlang/" method="post"> {% csrf_token %}
		<input name="language" type="hidden" value="" />
		<input name="next" type="hidden" value="" />
		<h2>Belgische Olympiades in de Informatica</h2>
		<p id="slogan">De Belgische Olympiades in de Informatica (OI) zijn competities in programmeren, algoritmiek en logica. Er zijn twee wedstrijden: de eerste is voor leerlingen uit het middelbaar onderwijs. De beste kandidaten plaatsen zich voor de Internationale Olympiades in Informatica (IOI). De tweede wedstrijd focust op studenten uit het eerste jaar van het hoger onderwijs.</p>
		<p><a href="#" onClick="javascript:formlang.language.value='nl';formlang.next.value='{% url home-nl %}';formlang.submit();">
			&raquo; Ga verder in het Nederlands</a></p>
		<hr/>
		<h2>Olympiades belges d'Informatique</h2>
		
		<p id="slogan">Les Olympiades belges d'Informatique (OI) sont une compétition de programmation, d'algorithmique et de logique composée de deux concours. Le premier est destiné aux élèves de secondaires et permettra d'identifier des candidats pour les Olympiades Internationales d'Informatique (IOI). Le second concours est destiné aux étudiants en première année d'études supérieures.</p>
	    <p><a href="#" onClick="javascript:formlang.language.value='fr';formlang.next.value='{% url home-fr %}';formlang.submit();">
				&raquo; Continuer en français</a></p>
	</form>
</div>

{% if LANGUAGE_CODE == "en" or HOME == 1 %}
<script type="text/javascript">
$(document).ready(function(){

	function popOpen(){
		
		popID = "popup"; //Get Popup Name
		popWidth = 650;
				
		//Fade in the Popup and add close button
		$('#' + popID).fadeIn().css({ 'width': Number( popWidth ) });
		
		//Define margin for center alignment (vertical + horizontal) - we add 80 to the height/width to 
		// accomodate for the padding + border width defined in the css
		var popMargTop = ($('#' + popID).height() + 80) / 2;
		var popMargLeft = ($('#' + popID).width() + 80) / 2;
		
		//Apply Margin to Popup
		$('#' + popID).css({ 
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
		});
		
		//Fade in Background
		$('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
		$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer 
		
	};

	popOpen(); //Run popOpen function once on load
	popOpen
	
});
</script>
{% endif %}